[2016-08-10 13:17] c21hornak opened #1 "Initial Setup of Dashboard in Google Docs"

[2016-08-10 13:18] c21hornak opened #2 "Goal & Funnel Enhancement to 2017 Dashboard"
This is to automate Add to Bag and Cart Abandonment data, which is currently being added to the Dashboard manually.

[2016-08-10 13:19] c21hornak opened #3 "Adding Search Terms Data to Dashboard Automatically"
I think this was from when the 2016 Dashboard was protected and we needed a way for Lisa's manual Search Terms Data inputs to get in to the dashboard. Instead, the approach was I think to un-protect it so she could manually enter the data right in the dashboard instead of on a separate Google Doc and for it to be ported into the dashboard.

[2016-08-10 13:19] c21hornak opened #4 "Dashboard for 2016 Google Analytics Data"
Automate Google Analytics data flow into a dashboard in a Google Doc.

[2016-08-10 20:35] c21hornak commented on #3
@AdenaG I think you were working on this, correct?

[2016-08-10 20:37] c21hornak commented on #4
Initial work completed.
https://docs.google.com/spreadsheets/d/1-XCAlwI3-QUHQymfewYM0qfC4rENDuK5XaSoLeEEuyo/edit#gid=69091265
Additional work to continue on subtasks.

[2017-01-04 01:15] c21hornak opened #5 "Update Dashboard for 2017"

[2017-01-04 01:18] c21hornak opened #6 "Make an Example C21 YouTube Video Shoppable"
Please prototype in the C21 YouTube account a shoppable video. Please set the privacy so only people with the link can see it.

We will do our first shoppable video for February week 2, so we will need to know what's possible to be prepared for that.

Please also document the shoppable video specs once they are finalized.

[2017-01-25 17:47] c21hornak commented on #5
@juanmriosv could you please add the URL to the new dashboard?

[2017-01-26 14:17] juanmriosv commented on #5
@c21hornak

**This is a viewable sharable Link**
[https://docs.google.com/spreadsheets/d/1SpfBRzd0zRbbe4mUY1Br56nrWtbe2EzKIOEzs82T14s/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1SpfBRzd0zRbbe4mUY1Br56nrWtbe2EzKIOEzs82T14s/edit?usp=sharing
)

The Editable version has been sent to all gmail accounts.

**Done:**

- Dashboard will start pulling data on FEB W01

- Formulas added to other

[2017-01-26 14:41] juanmriosv opened #7 "SEO Project to Update Categories Title Tags & Meta Descriptions January 2017"
Investigate the way we can improve[ this](https://docs.google.com/spreadsheets/d/11e9Fz-AkS_riqpLNoNucHxyBDzaVnIsiJ3x3FQ26bys/edit?usp=sharing) from our end.

[2017-01-26 15:13] juanmriosv commented on #7
Done:

**- Email has been sent to Ali, regarding the _Related Product_ Section, asking if we are able to:**
(waiting for response)

1. Change the <h2> elements to <h3>, and what would be the impact
2. To make the values, from these elements, visible in google crawler.

Currently we have this:
**Landing Pages:**
![screen shot 2017-01-26 at 10 01 25 am](https://cloud.githubusercontent.com/assets/167

[2017-01-26 16:06] juanmriosv opened #8 "Add Conditional Formatting to Promo Doc"
This is to help, at a glance, identify **setup due dates,** **ending Promos,** and **notes.** In the "START DATE" and "END DATE" columns.

## **START DATE column:**
- Anything that is not a date will turn red
- Any date that falls in the next two weeks, will turn red
- Any wrong date, will turn red

Examples (base on Today: 1/26/2017):
![screen shot 2017-01-26 at 10 57 51 am](https://cloud.githubu

[2017-01-27 23:49] c21hornak opened #9 "ADS Test Cases for PROD"
Depends on https://jira.tools.weblinc.com/browse/C21-179

Working with ADS to setup a full set of test cases.

Currently functional?:

STAGING:
ALWAYS APPROVE: Trigger approval modal
ALWAYS DECLINE: Trigger declined ("you will be notified in 10 days.." modal)
ALWAYS UNKNOWN: Trigger error modal
CALL CENTER: account is supposed to produce a “further processing…”message

PROD:

[2017-02-02 01:40] c21hornak commented on #8
From: "Rios, Juan Manuel" <jrios@c21stores.com>
Date: Monday, January 30, 2017 at 9:26 AM
To: "Goldis, Adena" <agoldis@c21stores.com>
Cc: Michael Hornak <mhornak@c21stores.com>
Subject: Re: Promo Doc

Hi Adena,

Agree. Let me see if it is possible with a formula.

Juan

————————————————————————————
From: "Goldis, Adena" <agoldis@c21stores.com>
Date: Monday, January 30, 2017 at 9:20 AM
To: Juan Rio

[2017-02-02 17:05] c21hornak opened #10 "Improve Responsive Design for Brickwork Store Pages Images"
• improve the responsive design so the store images can look better on all devices
• determine the specs and send to Chuck
• publish documentation

[2017-02-17 15:10] juanmriosv opened #11 "Assets Image Compression"
**Sample of the Issue:**
![screen shot 2017-02-17 at 9 53 36 am](https://cloud.githubusercontent.com/assets/16789090/23070503/3bc89486-f4f9-11e6-89d5-684a81a6447d.png)
![screen shot 2017-02-17 at 10 00 00 am](https://cloud.githubusercontent.com/assets/16789090/23070504/3bcdba9c-f4f9-11e6-8874-e4119d946b01.png)

**Ideal setting found when saving for web**
![screen shot 2017-02-17 at 10 07 24 am](ht

[2017-02-17 17:23] juanmriosv commented on #10
**Transfered to BRICKWORK repository**
I Tried to close it, was not able

[2017-02-23 16:25] juanmriosv opened #12 "Dashboard 2016 Jan W03 and W04 not showing data"

[2017-02-23 16:40] juanmriosv commented on #12
January W03 and W04 now showing
[https://docs.google.com/spreadsheets/d/1-XCAlwI3-QUHQymfewYM0qfC4rENDuK5XaSoLeEEuyo/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1-XCAlwI3-QUHQymfewYM0qfC4rENDuK5XaSoLeEEuyo/edit?usp=sharing
)

[2017-02-28 15:49] juanmriosv opened #13 "Add Signature Required Verbiage with Justuno"
Elisabeth wants to know if it’s possible to use Justuno in the checkout to detect when an order total is $500 or greater, and if so, display a message that a signature is required from the courier in order to receive the shipment.
This is just a way to notify the guest about something without WebLinc having to do any development.

[2017-03-01 20:07] c21hornak commented on #3
No longer needed. Closing.

[2017-03-01 20:07] #3 closed, assigned to nobody

[2017-03-01 20:09] c21hornak commented on #12
This is fixed. Closing.

[2017-03-01 20:09] #12 closed, assigned to nobody

[2017-03-01 20:11] c21hornak commented on #1
This is done. Closing.

[2017-03-01 20:11] #1 closed, assigned to nobody

[2017-03-01 20:16] c21hornak commented on #4
This is completed. Closing.

[2017-03-01 20:16] #4 closed, assigned to nobody

[2017-03-08 14:32] juanmriosv commented on #13
@c21hornak Yes it is possible.

I place a sample on staging. When the price is greater than $140 (just for testing purposes), the message will display.
Also, I can place banners.

![screen shot 2017-03-08 at 9 30 43 am](https://cloud.githubusercontent.com/assets/16789090/23707927/22c55b20-03e2-11e7-9d5b-d2f205161268.png)

[2017-03-08 16:07] lstaab commented on #11
Noted to watch and adjust. Thanks.

[2017-03-08 16:07] #11 closed, assigned to nobody

[2017-03-12 19:48] c21hornak opened #14 "Setup GA to Gather Data on Shoppable Videos"
From: "Rios, Juan Manuel" <jrios@c21stores.com>
Date: Monday, February 13, 2017 at 5:10 PM
To: "Mitchell, Ken" <kmitchell@c21stores.com>
Cc: Michael Hornak <mhornak@c21stores.com>
Subject: Google Analytics

Hi Ken,

I have added a youtube property to GA.
This will start getting analytics from our Youtube Channel.
If there is anything I should be aware, please let me know.

All best,

Juan

[2017-03-13 19:34] AdenaG commented on #8
Adding this here that conditional formatting was also added for the following:
A in active column turns the row green
T in active column turns the row yellow.

[2017-03-14 13:51] c21hornak opened #15 "Make Search "Forget" J&R"
Request from Elisabeth on 1/4/17: Suppress J&R from appearing as a search suggestion.

We should also make sure that search term returns 0 results.

![unknown](https://cloud.githubusercontent.com/assets/19403001/23903703/cc6ed738-089b-11e7-99c4-4d33ae3cb553.png)

[2017-03-14 15:28] c21hornak commented on #10
https://github.com/Century21Stores/BRICKWORK/issues/1

[2017-03-14 15:28] #10 closed, assigned to nobody

[2017-03-15 13:30] c21hornak opened #16 "Confirmation that Message was Sent on Contact Page"
Elisabeth wants for customers to receive a visual confirmation with some text like “We’ve received your message and will respond as soon as possible.” after they click “SEND” to submit the form on the Contact Page.

https://www.c21stores.com/contact
https://www.staging.c21.weblinc.com/contact

Please setup a prototype in STAGING and show it to Elisabeth for any feedback/changes.

[2017-03-15 15:43] c21hornak commented on #14
@juanmriosv just checking — you still have more setup/tweaking that you want to do before the GA integration with our Shoppable Videos is complete, correct?

[2017-03-15 15:46] juanmriosv commented on #14
@c21hornak Still working on it. Exploring what is the best option. For some reason, what I am getting from Google Analytics is not the same as Youtube analytics

[2017-03-15 19:31] c21hornak opened #17 "Build a Google Sheet for Homepage Coremetrics Data to Live"
Build a Google Sheet for exported homepage Coremetrics data to live, and for Andrea to analyze it.

This Google Sheet was conceived by Juan because when there when there is a lot of tagging, like on the home pages, it is hard to read. This Google Sheet will make it simple.

[2017-03-15 19:31] c21hornak commented on #17
https://docs.google.com/spreadsheets/d/1Pvvd0bs9wZCmOUQUHzs5weNTmob_TjzCyJvXAIDyqYg/edit#gid=1509475575

Home Page Assets Click Event Report Version 1 was completed on 3/2, shared with Andrea, and was ready to work with the data that was going to be collected starting 3/3 once ["Coremetrics Tagging for 03Week2 Semicustom Homepage A + All Content Blocks (GLOBAL-61)"](https://github.com/Century21Sto

[2017-03-15 19:33] c21hornak opened #18 "Home Page Assets Click Event Report Version 2"
https://docs.google.com/spreadsheets/d/1Pvvd0bs9wZCmOUQUHzs5weNTmob_TjzCyJvXAIDyqYg/edit#gid=1509475575

New Features in Version 2:
• "ChooseWeek" tab dropdown located in cell A1 (protected), allows to select current and previous reports. After choosing the HP to analyze, reports on tabs "desktop", "table" and "mobile" will pull the data.

[2017-03-15 19:34] c21hornak commented on #18
@juanmriosv can you list what the new features were? I'm not sure I understood what they were, but I know they made it easier for Andrea to use.

[2017-03-15 19:36] c21hornak opened #19 "Home Page Assets Click Event Report Version 3"
https://docs.google.com/spreadsheets/d/1Pvvd0bs9wZCmOUQUHzs5weNTmob_TjzCyJvXAIDyqYg/edit#gid=1509475575

Proposed enhancements to make for version 3 (for discussion):
• Adding youtube video metrics from home page
• Create a comparison/analysis report of events and tendencies every ... 3 months?
• Add key landing pages metrics

Let's plan the best time to complete these enhancements considering the

[2017-03-15 19:39] #17 closed, assigned to nobody

[2017-03-15 19:40] juanmriosv commented on #19
@c21hornak There is no version 3
:S

[2017-03-15 19:42] juanmriosv commented on #19
@c21hornak I can add the way "2017" tab works, but I did it along with other things in v2, I just pull it manually from desktop, mobile, tablet tabs

[2017-03-15 19:43] juanmriosv commented on #19
@c21hornak got it

[2017-03-15 19:51] c21hornak commented on #19
@juanmriosv it's ok if you don't know yet what you will do to for version 3, but I know you will have some ideas as you go, and I prefer, instead of you making many small enhancements silently, to plan several of them here and work on them when it's the right time. And then when you launch the version 3 it's like you completed another exciting project that helps Andrea/Elisabeth.

[2017-03-15 19:56] juanmriosv commented on #19
@c21hornak Makes sense. I will list any idea here when they come.

[2017-03-15 20:27] juanmriosv commented on #14
@c21hornak
I am placing all my screenshots [here](https://drive.google.com/drive/folders/0B84aLCnZgC-aVVd0MVNiYUtVNjQ?usp=sharing).
I am finishing writing something about it. Next step is to add parameters to the URL of the cards in order to track them, (setting goals to them)

[2017-03-15 21:17] c21hornak opened #20 "Browser Push Notifications"
1) Develop a high-level process for how we can utilize opt-ins to Browser Push Notifications for marketing, a high-level user story for someone who opts in, and share those details with Elisabeth

2) If Elisabeth wants to proceed, build a prototype/demonstration and share it with Elisabeth so she can see things like:
     • how do you build new notifications?
     • how do you push notifications o

[2017-03-15 21:18] c21hornak commented on #20
Here's my attempt at describing this project.

[2017-03-15 21:19] c21hornak commented on #20
Mini Prototype you already shared with me: https://www.c21stores.com/pages/test1

[2017-03-15 21:30] c21hornak opened #21 "Create a Visual Promo Calendar for Guest Services"
Guest Services (Katy Canales' team) requested a visual calendar that would let them easily see what promos are live at any given time.

They described what they had in mind as being like the "Promo Calendar" tab I used to maintain on the Promo Doc (you can find it very far back in revision history):
![promo-cal-tab](https://cloud.githubusercontent.com/assets/19403001/23971553/ca2bcaee-09a4-11e7-90

[2017-03-16 00:40] c21hornak commented on #18
A 3rd homepage was added: Wk6 (03Week2) Content Blocks Thursday homepage. V2 completed 3/14.

[2017-03-16 00:40] #18 closed, assigned to nobody

[2017-03-16 01:11] c21hornak commented on #8
• Juan added conditional formatting to the Start/End Date Columns on 1/26.
• Adena added conditional formatting to the Active/Test (A/T) Columns

Closing.

[2017-03-16 01:11] #8 closed, assigned to nobody

[2017-03-16 14:48] c21hornak opened #22 "Dynatrace Setup for Page Load Time Insights"
I just spoke with Perry and he said Dynatrace could be used for this and that if you reach out to Noriel he could explain how to do this setup.

Let's see what Dynatrace can tell us about our pages so that we can maybe make more changes to get better PLTs.

[2017-03-16 14:52] c21hornak opened #23 "SEO Opportunities - YouTube"
1) **YouTube Video & Channel Tags (for Shoppable Videos)**
• Our Video & Channel Tags:
![our-tags](https://cloud.githubusercontent.com/assets/19403001/24301300/a78be7d4-1085-11e7-81fe-cbed42414cc8.png)
• Vs. Sephora's & Forever 21's Tags:
![sephora-tags](https://cloud.githubusercontent.com/assets/19403001/24301286/9ddfec12-1085-11e7-8bba-fd30d65c987c.png)
![forever21-tags](https://cloud.githubuser

[2017-03-16 17:09] juanmriosv opened #24 "Add x More $ to Get Free Shipping Message in Cart"
​Melissa Lerner asked a question about being able to have a message like:

Seems this question was started by Elisabeth and Andrea.

[2017-03-16 17:29] juanmriosv commented on #24
@c21hornak,
Yes, it is possible

In this example, the script will fire only in "acquisition status."

- It calculates the difference between $75 and the Subtotal already spent, and rounds it up to two decimal values.
- The message will display when the difference is greater than Zero.
- I added a link to an example category for "making easy" for people to purchase the difference.

### Question and

[2017-03-16 17:29] juanmriosv commented on #24
![screen shot 2017-03-16 at 1 01 29 pm](https://cloud.githubusercontent.com/assets/16789090/24009861/90681cf6-0a4c-11e7-9a0d-d3b6c533ff60.png)

[2017-03-17 16:00] c21hornak opened #25 "Implement Polling of Key Site Pages & Features"
**Attempt to Setup Polling for:**
• Homepage
• Search
• Checkout
•

**Send Brief SMS-Style Error Notifications to:**
• 2013819365@att.txt.net
• 6035475406@vtext.com
•

**Possible Services We Can Use:**
• https://uptimerobot.com
• https://www.site24x7.com

[2017-03-17 16:10] c21hornak commented on #25
@juanmriosv This is a rough draft but once we find out what's possible we can develop a more detailed plan for how notify people.

[2017-03-17 16:46] c21hornak commented on #24
@juanmriosv Elisabeth is reviewing this information, so I'm waiting for more feedback from her.

**3 questions:**
1) was this done in the WebLinc admin or needed JustUno?
2) when you say "the script will fire only in acquisition status." does that mean if the user is logged in and is acquisition, or only for logged out users (since the site recognizes all logged out users as acquisition)?
3) will

[2017-03-17 17:01] c21hornak commented on #15
Update from Adena 1/5/17: The reason results are still coming up is because the products found here are still showing J&R Express as the Department name. That should be removed.
![unknown](https://cloud.githubusercontent.com/assets/19403001/24054197/c27ce4d6-0b11-11e7-8c8c-c72021775279.png)

[2017-03-17 17:03] c21hornak commented on #15
Update 2/28/17: Adena to work with Andrea to get the department updated in E1

From: "Goldis, Adena" <agoldis@c21stores.com>
Date: Tuesday, February 28, 2017 at 5:44 PM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Re: J&R

I double checked with him first. He said it does in the nightly feed.

Thanks,
Adena

Description: Anneka G:MARKETING CAMPAIGNS:email signature:email_logo_red_2.png

Aden

[2017-03-17 17:05] c21hornak commented on #15
From: "Goldis, Adena" <agoldis@c21stores.com>
Date: Thursday, March 9, 2017 at 10:32 AM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Re: Make Search "Forget" J&R?

Update from Andrea: looks like the attributes weren’t changed as far as we can see. She/Lexi will circle back with the merchants at their next TB. Ill follow up next week.

Thanks,
Adena

[2017-03-17 17:05] c21hornak commented on #15
@AdenaG please add an update here.

[2017-03-18 18:58] c21hornak opened #26 "PLCC Users: Add x More $ to Get Free Shipping Message in Cart"
Whereas https://github.com/Century21Stores/SPECIAL/issues/24 covers Acquisition Users, this ticket should enhance that feature to also include PLCC Card Holders.

**Consider the Free Shipping policy for PLCC Card Holders:**
Premier Credit Card Holders: they get free shipping if order subtotal is $50 or greater
Elite Credit Card Holders: they get free shipping on all orders

**NOTE:** Currently, we

[2017-03-18 19:22] c21hornak commented on #26
@juanmriosv In order to be able to recognize Premier vs. Elite, can you use attributes data from `body[data-analytics] >> payload.user[0].profile` (see [this WebLinc ticket](https://jira.tools.weblinc.com/browse/C21-125)) to give Premier and Elite the required different experiences? If you think that will be possible we can add a requirement to that WebLinc ticket so they also expose the PLCC tier

[2017-03-18 21:32] c21hornak opened #27 "Bluecore Email Deliverability for Web Production"
Please work with Melissa Lerner to try to make it possible for everyone on the Web Production team to receive the Bluecore Abandoned Cart emails at our c21stores.com emails.

We can’t easily spot issues with them unless we receive them at our C21Stores.com emails, and it seems those are currently all blocked. Unblock just for us.

[2017-03-18 22:14] c21hornak opened #28 "Search Redirects for Customers Wanting to Check Gift Card Balances"
There is a Search Redirect already set up for “mystery gift card” to this MysteryGiftCards content page https://www.c21stores.com/pages/mysterygiftcards

Set up additional Search Redirects to the same page, for specific terms like “gift card balance”, “gift card balance check”, “how to check gift card balance”, “check gift card balance”, "how do i check my gift card balance online?”, which current

[2017-03-18 22:34] c21hornak opened #29 "Streamline Guest Password Resets with Google Form & Sheet"
Related to issues guests are having logging in and/or changing their passwords, Juan created a Google Form that feeds into a Google Sheet and implemented a new process for Guest Service, which is simply to fill in the Google Form. Previously all guest password reset requests were sent to Juan and Michael in an unstandardized way and it became difficult to keep track of whether all emails got respo

[2017-03-18 22:40] c21hornak commented on #29
Juan completed this on 2/21/17. Closing.

[2017-03-18 22:40] #29 closed, assigned to nobody

[2017-03-19 04:33] c21hornak opened #30 "Transition Google My Business Account Administration to Web Production"
URL: https://business.google.com/manage/#/account
Email: c21digitalmedia@gmail.com

[2017-03-20 01:25] c21hornak opened #31 "JotForm Updates to Streamline Category Requests"
Juan is working with Andrea's team to update the current form.
[Production-Requests-DEAD-Form-RIP-March-2017.pdf](https://github.com/Century21Stores/SPECIAL/files/863300/Production-Requests-DEAD-Form-RIP-March-2017.pdf)

[2017-03-20 13:02] juanmriosv commented on #14
Sent Friday. First Month Metrics

[2017-03-20 13:18] juanmriosv commented on #26
@c21hornak
The only issue that I see with "payload.user[0].profile" is that returns many information about the customer, including Loyalty ID and phone number. If it is possible to expose just the "type customer" of customer( securely) via that method or other one; then, I can pull  that info and do what ever we need to do.

Also, As far as I understood Melissa, this functionality is for non PLCC

[2017-03-20 13:23] juanmriosv commented on #24
@c21hornak Is this the same as #26 (I am sorry I got confused)

Answers:

1. This was done in Weblinc admin (cart)
2. The script Runs when this banners is up:
![screen shot 2017-03-20 at 9 21 48 am](https://cloud.githubusercontent.com/assets/16789090/24101437/b937d7f2-0d4e-11e7-8e52-b0f0318e8247.png)

3. I can do that. For now, I only did for "acquisition." In order to show the quick prototype

[2017-03-20 15:06] c21hornak commented on #24
Thanks. I think this one should be for acquisition and denied and https://github.com/Century21Stores/SPECIAL/issues/26 should be for PLCC.

[2017-03-20 15:07] juanmriosv commented on #24
Got it

[2017-03-20 15:11] juanmriosv commented on #24
Closed By accident, Re-Opened

[2017-03-20 19:23] c21hornak opened #32 "Tag Shoppable Video #3 for Coremetrics & Update Documentation"
Shoppable Video for Wk8 (Mar 03Week4) on the Thursday (3/23) Homepage should be tagged for Coremetrics.

**Requirements from Dawn:**
Please add & update the last 3 parts of the code ("03202017", "denim", and "WildAtHeart") for each new shoppable video link:
`?cm_mmc=youtube-shoppablelink-_-03202017-_-denim-_-WildAtHeart`

Also, please update documentation so this happens for all future Shoppable V

[2017-03-20 20:20] c21hornak opened #33 "Create a Process to Build In-Store Events on Brickwork & Facebook"
**Initial Thoughts:**
• Corporate Communication about a new In-Store Event should kick off the coordination to create a new Event in Brickwork (example: Diptyque Sample Sale Event @ C21•EDITION)
• Andrea Mennella to be the resource for any questions
• Juan's team to set up the Event in the Brickwork STAGING Admin
• Andrea to review the Event on Brickwork STAGING and approve or request changes.
• J

[2017-03-22 02:58] c21hornak opened #34 "Integrate Curalate with Google Analytics"
Integrating our Curalate account with our Google Analytics account enables Curalate's Traffic and Revenue Analytics and allows us to start tracking clicks/visits under the [Measure > Traffic & Revenue](https://app.curalate.com/social/traffic) section of the Curalate Admin.

We will receive the total number of clicks/visits and revenue similar to our metrics within Google Analytics/Coremetrics, but

[2017-03-22 03:05] c21hornak commented on #34
Juan completed this integration on 3/13. Closing.

[2017-03-22 03:05] #34 closed, assigned to nobody

[2017-03-22 14:01] c21hornak opened #35 "Salesforce/Demandware Replatform Preparation"
**To-Dos:**
• Retrieve a searchable WebLinc JIRA Archive

[2017-03-22 20:13] juanmriosv commented on #32
All done and ready to go @c21hornak
I will add it to Video documentation
The way it works:

Add:

**SIGN**cm_mmc=youtube-shoppablelink-_-**DATE**-_-**CATEGORY**-_-**DESCRIPTION**

**SIGN**

- **?**  : for normal links
- **&**  : for links containing filter values ('?' already present)

**Examples:**
Regular link:
https://www.c21stores.com/products/tepphar-jeans?cm_mmc=youtube-shoppablelink-_-03222

[2017-03-23 01:01] c21hornak opened #36 "Add WISHI Banner to the Order Confirmation Page"
Please confirm if this is possible using JustUno.

[2017-03-24 02:40] c21hornak opened #37 "Bluecore Emails Linking to PDPs That Are Now 404s"
Issue from 10/12/16: some of the product links in Bluecore emails are directing to a 404 page.
https://www.c21stores.com/products/plaid-pencil-skirt
![image002](https://cloud.githubusercontent.com/assets/19403001/24278442/39ac8518-101a-11e7-9e1b-7ad307c012aa.png)

[2017-03-24 02:45] c21hornak commented on #37
**Resolution from 11/7/16:**

From: Michael Hornak <mhornak@c21stores.com>
Date: Monday, November 7, 2016 at 1:48 PM
To: "Lerner, Melissa" <mlerner@c21stores.com>
Subject: Re: Product URL's Not Yet Available

When I spoke with Joseph @ Bluecore he said that criteria for including products was based on number of times the Bluecore pixel fires on a PDP (because of a page load). I think he said he th

[2017-03-24 02:45] c21hornak commented on #37
Closing.

[2017-03-24 02:45] #37 closed, assigned to nobody

[2017-03-24 17:31] c21hornak opened #38 "PAGE LOAD TIME RESEARCH & OPTIMIZATIONS"

[2017-03-27 18:20] AdenaG commented on #15
Dept 92 still named J&R Express, but we cannot change the attributes in E1 until after Mi9 go live..
ON HOLD
Per IT:
Let’s stop and remember where we are…… We are still on Mi9 in the Existing Hierarchy. This is NOT changing until we go live on Mi9, the earliest would be at the end of Summer. (EP is an Exception)
There are a few reports that were created to accommodate the Planners who work in the

[2017-03-27 19:04] AdenaG commented on #28
@c21hornak
Been asking for this since launch lol - done.
Will pull report for additional search terms related to content pages and redirect there.

[2017-03-27 19:41] juanmriosv commented on #16
@c21hornak

Prototype on Staging (I followed the alert colors that weblinc has in place.
https://www.staging.c21.weblinc.com/contact

[2017-03-27 22:40] c21hornak commented on #29
Removed links.

[2017-03-28 00:11] c21hornak commented on #27
Assigning to you @AdenaG

[2017-03-28 00:23] c21hornak commented on #28
Cache might not have cleared yet. Just checked this one and still see search results: https://www.c21stores.com/search?utf8=%E2%9C%93&q=Gift+card+balance+check

Ok to keep ticket with you until the additional terms are also done.

[2017-03-28 00:31] c21hornak commented on #15
@AdenaG thanks. Closing this project then.

[2017-03-28 00:31] #15 closed, assigned to nobody

[2017-03-28 14:47] AdenaG commented on #28
Hm, its redirecting to mysterygiftcards lp for me. Anything that includes the terms gift card balance should.

[2017-03-28 15:10] AdenaG commented on #28
Pulled all non product-specific search terms YTD and created an additional redirect for anything that includes "track order" to pages/ordering-payment based on results. Asking Lisa to pull monthly when she pulls her other search data.

[2017-03-28 15:38] AdenaG commented on #27
Per Melissa, there is no way to receive ALL Bluecore emails.
And re c21emails getting blocked, wouldn't that have to be addressed internally as its our domain that is blocking it?

[2017-03-28 15:44] c21hornak commented on #27
@AdenaG don't need to receive all, but if we do the appropriate customer behavior (which we certainly are) we should get the emails.

[2017-03-28 15:52] juanmriosv commented on #31
[Sheet: Categories Request 2017 - 1.0](https://docs.google.com/spreadsheets/d/1BXmU6qQkp3WOyKHL3UMtjwrOOBC8_Q0Mglyeq80-F9g/edit?usp=sharing)

[2017-03-28 16:05] AdenaG opened #39 "Non-Product/Brand Search Redirects"

[2017-03-28 16:06] AdenaG commented on #28
Moving the above comments unrelated to gift card balance to this ticket https://github.com/Century21Stores/SPECIAL/issues/39

[2017-03-28 16:33] c21hornak commented on #28
I had to start a new session but it's working for me now.

[2017-03-28 16:39] c21hornak commented on #31
@juanmriosv Did they start using this yesterday? Can I also receive the emails generated by the new requests please?

[2017-03-28 16:46] juanmriosv commented on #31
@c21hornak
Yes, I sent it to Alexys. She is going to send all the emails of the Merch members that will use it (still waiting for it). From our conversation with them, they supposed to start trying it this week.
New requests are being sent to webproduction@c21stores.com. I can explain why this instead of individual emails. I will send a test soon.

cc: @lstaab

[2017-03-28 17:19] AdenaG commented on #28
Per Elisabeth's request, change 'gift card balance' redirect to here https://www.c21stores.com/contact.
Complete.

[2017-03-28 17:51] juanmriosv commented on #32
@c21hornak
Adding to [Video Cards Tab](https://docs.google.com/spreadsheets/d/1Xt50GoezR0z_-AFJ55QyI-Je6hTWel2yLJk-SQgQBLI/edit?usp=sharing
)

[2017-03-28 18:13] juanmriosv commented on #31
Invites Sent. Waiting for merch to setup in their end.

[2017-03-28 18:32] #28 closed, assigned to nobody

[2017-03-29 00:26] c21hornak opened #40 "QA Process for Daily Quick Checks (TTI: 20 mins)"
Build and document a new process around early-morning (7AM) testing of essential site functionality. Target Time Investment for this kind of testing should be 20 minutes per morning.

The primary goal of this process is to find, before the start of the business day, any major site issues that may impact the daily morning emails that start going out at 8AM and to be able to inform decision-makers o

[2017-03-29 00:40] c21hornak opened #41 "QA Process for Email Link Landings (TTI: 20 mins)"
Build and document a new process around continuous testing of all Email Link Landings for Email Proof Launches and any live emails that you are able to receive. Target Time Investment for this kind of testing should be 20 minutes per day. Actively try to receive all emails you are aware of, within reason (considering the Target Time Investment).

The primary goal of this process is to find any iss

[2017-03-29 00:50] c21hornak opened #42 "QA Process for Brickwork Regression Testing (TTI: 45 mins)"
Build and document a new process around Regression Testing of Brickwork platform functionality that we use. Target Time Investment for this kind of testing should be 45 minutes per Brickwork release.

The primary goal of this process is to find and report any new Brickwork platform issues as early as possible after a Brickwork release.

[2017-03-29 00:51] c21hornak commented on #42
Adena completed first draft of this process on Monday 3/27 here: https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit#gid=1500839032

[2017-03-29 00:55] c21hornak commented on #16
Sent request to Emily for copy via Workfront: https://c21.attask-ondemand.com/issue/view?ID=58daf68200638ab72438e45841a668ca

[2017-03-29 00:59] c21hornak opened #43 "QA Process for WebLinc Regression Testing (TTI: 90 mins)"
Build and document a new process around Regression Testing of WebLinc platform functionality that we use. Target Time Investment for this kind of testing should be 90 minutes per WebLinc release.

The primary goal of this process is to find and report any new WebLinc platform issues as early as possible after a WebLinc release.

[2017-03-29 01:09] c21hornak opened #44 "QA Process for Daily Site QA (TTI: 30 mins)"
Build and document an updated process around Daily Site QA of customer-facing content and functionality. Target Time Investment for this kind of testing should be 30 minutes per day.

The primary goal of this process is to find, before the end of the business day, any content/functionality issues that may exist and to work with whomever necessary to get those issues resolved, preferably before the

[2017-03-29 01:19] c21hornak opened #45 "QA Process for Daily Channel Advisor Inbound Feed Check (TTI: 5 mins)"
Document the current process around checking the Channel Advisor account daily for major issues with the Inbound Feeds from WebLinc. Target Time Investment for this kind of testing should be 5 minutes per morning.

The primary goal of this process is to, first thing after the start of the business day (9AM), identify and report any issues with the Inbound Feeds that seem to persist or be too frequ

[2017-03-29 01:34] c21hornak opened #46 "QA Process for Weekly Channel Advisor Outbound Feed Check (TTI: 15 mins)"
Document the current process around checking the Channel Advisor Outbound Feed to BloomReach weekly for obvious product data issues. Target Time Investment for this kind of testing should be 15 minutes per week.

The primary goal of this process is to, once per week on the same day every week, identify and work with whomever necessary to resolve any obvious product data issues, such as prices that

[2017-03-29 02:07] c21hornak opened #47 "QA Process for ADS C21STATUS Credit Card Account Center (TTI: <5 minutes)"
Build and document a new process around daily QA of planned promotional messaging in the ADS-hosted C21STATUS Credit Card Account Center. These planned content changes are essentially launched in what I understand to be mini ADS Account Center Releases. Target Time Investment for this kind of testing should be less than 5 minutes per day to ensure ADS is adhering to our release schedule.

The prim

[2017-03-30 23:46] c21hornak commented on #16
@juanmriosv here is the Copy Doc to update the message copy.
https://docs.google.com/spreadsheets/d/1XgToq8SwFYM0xMPdpXb_PrckMQk7VbH-ZazbT4DAJtI/edit?ts=58dbe304#gid=1501240443

[2017-03-31 01:07] c21hornak opened #48 "Update Reporting Process to Include Customer Service Search Terms"

[2017-03-31 01:08] c21hornak commented on #48
@AdenaG I see the tab "Customer Service & Non Product/Brand SEARCHES" on the [2017 Dashboard](https://docs.google.com/spreadsheets/d/1SpfBRzd0zRbbe4mUY1Br56nrWtbe2EzKIOEzs82T14s/edit#gid=1625221873), but is this really all of them? I was anticipating a much longer list.

[2017-03-31 18:21] juanmriosv opened #49 ""Category Request 2017: 1.1""
Changed Email chain: "Updated" to _webproduction@c21stores.com_

[2017-03-31 18:22] juanmriosv commented on #49
cc: @lstaab
FYI

[2017-04-02 00:56] c21hornak opened #50 "Social Media Onboarding & Documentation"
• receive training
• document asset/copy specs

[2017-04-02 00:57] c21hornak commented on #50
Juan received some training from Dawn on 3/31.

[2017-04-06 22:12] c21hornak commented on #31
Juan sent "[Category Request 2017: 1.0](https://docs.google.com/spreadsheets/d/1BXmU6qQkp3WOyKHL3UMtjwrOOBC8_Q0Mglyeq80-F9g/edit?usp=sharing)" on 3/28/17.

Merchandising started using on 3/30/17.

Closing.

[2017-04-06 22:12] #31 closed, assigned to nobody

[2017-04-06 23:16] c21hornak opened #51 "SEO Project to Update Categories Title Tags & Meta Descriptions April 2017"
Andrea's request for title tags for new categories since launch. After this, Andrea's team will submit this information with their Category Requests.
[SEO_new categories.xlsx](https://github.com/Century21Stores/SPECIAL/files/904154/SEO_new.categories.xlsx)
[Process.xlsx](https://github.com/Century21Stores/SPECIAL/files/904155/Process.xlsx)

[2017-04-06 23:25] c21hornak commented on #51
From: "Lato, Halaine" <hlato@c21stores.com>
Date: Wednesday, April 5, 2017 9:51 AM
To: Juan Rios <jrios@c21stores.com>, Lydia <lstaab@c21stores.com>
Cc: "Salisbury, Alexis" <asalisbury@c21stores.com>, "Mennella, Andrea" <amennella@c21stores.com>, "Hornak, Michael" <mhornak@c21stores.com>
Subject: Re: SEO Title Tags

Hey Juan,

These are all the older categories that we needed retrofit. I think for

[2017-04-06 23:32] c21hornak commented on #7
This project turned out just to be to populate Title Tag and Meta Description from this Google Doc.
https://docs.google.com/spreadsheets/d/11e9Fz-AkS_riqpLNoNucHxyBDzaVnIsiJ3x3FQ26bys/edit#gid=0

[2017-04-06 23:32] c21hornak commented on #7
Juan & Lydia completed this on 2/3/17. Closing.

[2017-04-06 23:32] #7 closed, assigned to nobody

[2017-04-06 23:38] c21hornak commented on #7
Ken Mitchell shared positive results on 2/23/17.
![unknown](https://cloud.githubusercontent.com/assets/19403001/24779816/a6c50030-1b00-11e7-86fa-0d3f122423dc.jpeg)

[2017-04-11 17:58] c21hornak opened #52 "Hide Expedited Shipping Options Temporarily"
• On Shopping Bag Page — all visual effects of the Shipping Method Dropdown has been removed

• In Checkout > Shipping Methods — the Expedited Shipping Methods have been removed.

[2017-04-11 20:47] AdenaG commented on #52
Still testing other browsers, but I was just able to get through checkout and select 3-day and next day shipping on IE 11.

[2017-04-11 20:47] AdenaG commented on #52
@juanmriosv
Still testing other browsers, but I was just able to get through checkout and select 3-day and next day shipping on IE 11. I can select them specifically checkout/shipping (cart only shows standard shipping).

[2017-04-11 20:51] juanmriosv commented on #52
@AdenaG
How long ago was this?

[2017-04-11 20:51] juanmriosv commented on #52
@AdenaG
How long ago was this?

[2017-04-11 20:52] AdenaG commented on #52
About 15 seconds before I typed it. Incognito window.

[2017-04-11 20:58] AdenaG commented on #52
@juanmriosv
Same behavior in Firefox v. 52.0.2 (64-bit) on Mac - next day and 3 day shipping showing here https://www.c21stores.com/checkout/shipping
Safari & Chrome good.
See screenshot of payment step:
![screen shot 2017-04-11 at 4 59 37 pm](https://cloud.githubusercontent.com/assets/20344050/24930674/46c3782a-1ed8-11e7-8408-0fd64e47ddeb.png)

[2017-04-11 21:14] juanmriosv commented on #52
@AdenaG
Unable to replicate in IE.

Able to see it in firefox. Might be the network (both wifi and direct)
None of the promos are firing on Firefox.

@c21hornak

[2017-04-11 21:22] juanmriosv commented on #52
@AdenaG
On WIFI, works on Firefox.

Seems the network

[2017-04-11 23:20] c21hornak commented on #52
@AdenaG can we work with IT please to resolve the network issue? This impacts QA.

[2017-04-12 00:04] AdenaG commented on #52
Sure, it definitely does, but we keep hitting roadblocks..this might be bc its through Just Uno.
I was able to check firefox and ie on personal computer. Ie was good, but firefox v. 49 still showed other shipping options on shipping step of checkout

[2017-04-12 00:09] c21hornak commented on #52
@AdenaG Elisabeth has an agreement with Perry for his team to field these issues so they can work with the Network Team to resolve. I don't believe we should open Giva tickets for these issues because then ISOperators will likely send directly to Network Team. Let me know if this process is not working.

[2017-04-12 15:40] AdenaG commented on #48
All of them are listed. Request was to remove a lot that we had back in CF.

[2017-04-12 15:40] #48 closed, assigned to nobody

[2017-04-12 15:43] AdenaG commented on #27
Melissa Lerner provided Bluecore access via Gmail addressees to Adena, Michael & Juan. She will let us know when training is set up.

[2017-04-13 04:48] c21hornak opened #53 "Onboarding of Store Promo Setup for OmniChannel Marketing Promos"
Please work with Maite to fully document the process for setting up the In-Store/Register portion of OmniChannel Marketing promos, which are, for example the holiday promos where we build the landing page with the barcodes. The barcodes are linked to a promo that is redeemed at the registers in the store when the cashier scans the barcodes.

Attached is the high-level documentation provided by Den

[2017-04-13 04:59] c21hornak opened #54 "Display Estimated Loyalty Points During Double Points Promos"
Please demonstrate that it's possible for us to calculate and display to the customer estimates for how many points they will earn if they purchase a product.

• on PDPs
• on the Mini Cart
• on the Shopping Bag Page
• is there any other appropriate place to add this?

**TIMELINE:** The next OmniChannel Double Points Promos coming up are:
• Double Points Ecom & POS 5/4/17–5/7/17 (Thursday through S

[2017-04-13 14:31] AdenaG commented on #52
Verified expedited shipping options are hidden in the following devices/browsers:
Windows 7 & 10: Firefox v. 45 & 48 and up, IE 10,11.
IOS 9.1 & up
Chrome for Mac v.52, 57
Chrome for mobile Android v. 57.

[2017-04-13 15:29] juanmriosv opened #55 "301 vs 404 Strategy for SEO"
Suggestion from Ken:
"I suggest focusing on the category level 404’s and redirect to the appropriate new category.  Google Search Console tells you the priority (not in the download)."

![screen shot 2017-04-13 at 11 23 54 am](https://cloud.githubusercontent.com/assets/16789090/25011671/2383632e-203c-11e7-9b59-82e45f2fe3d4.png)

This suggestion was based on:

and

[2017-04-14 14:33] AdenaG commented on #41
https://docs.google.com/spreadsheets/d/1N0L1Y1rq_eEu1tsKY3QqGGB3AJcBnljHjFE0RM7_arY/edit?usp=sharing

[2017-04-14 16:23] AdenaG commented on #40
"Daily morning QA Quickcheck" to be done about 7:30-7:40am on weekdays.
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit?usp=sharing

[2017-04-14 16:23] #40 closed, assigned to nobody

[2017-04-14 16:25] AdenaG commented on #39
ongoing, pulling monthly data for all instances greater than 1 search/month
"Customer Service & Other SEARCHES"
https://docs.google.com/spreadsheets/d/1SpfBRzd0zRbbe4mUY1Br56nrWtbe2EzKIOEzs82T14s/edit?usp=sharing

[2017-04-14 16:25] #39 closed, assigned to nobody

[2017-04-14 16:55] juanmriosv opened #56 "Shoppable Video Analytics"
Below are the following metrics I'm looking for…

TTL video views
TTL card teaser clicks
% of card teaser clicks/TTL video views
% of card clicks/TTL video views

Thanks,

Elisabeth McDaniels
Sr. E-commerce Director
E: emcdaniels@c21stores.com
P: (212) 235-6330

[2017-04-14 16:57] juanmriosv opened #57 "SHOPPABLE VIDEOS"

[2017-04-15 00:34] c21hornak commented on #54
From: "Hornak, Michael" <mhornak@c21stores.com>
Date: Tuesday, March 28, 2017 at 1:14 PM
To: Juan Rios <jrios@c21stores.com>
Subject: Double Points on Site

Hi Juan,

There will be a double Loyalty points promo on Ecom & POS from 5/4-5/7 and from 5/11-5/14. We’ll be adding assets to the site to message this.

This is the kind of promo that IT sets up in Relate (no setup for you/Lydia).

Elisabeth

[2017-04-15 00:35] c21hornak commented on #54
From: "Rios, Juan Manuel" <jrios@c21stores.com>
Date: Tuesday, March 28, 2017 at 1:30 PM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Re: Double Points on Site

Hi Michael,

Yes, I think this is a global project.

It can be added virtually anywhere.

Here is a list:

Using Admin or JustUno (ni some cases):
• LPs
• PDP
• Masters
• Browse Grid Ads
• Mini Cart (I have to test it first, remembe

[2017-04-15 00:46] c21hornak commented on #36
@juanmriosv in Admin > Pages > System Pages > Checkout there are HTML content blocks and CSS/JS areas for Confirmation Page and I think other parts of the Checkout. Is this working?

[2017-04-15 22:26] c21hornak commented on #50
Password document: https://docs.google.com/spreadsheets/d/1k9j8WJ-JNmnClQczMZznoVID_txS1G6rWSbgIXXx81w/edit?ts=58dea125#gid=0

[2017-04-15 22:39] c21hornak commented on #40
![daily-quick-check-process](https://cloud.githubusercontent.com/assets/19403001/25067227/d6754df6-220a-11e7-9779-182a822c12aa.png)

[2017-04-18 17:04] AdenaG commented on #41
Done.
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit?usp=sharing

[2017-04-18 18:18] juanmriosv commented on #36
@c21hornak
Yes, it is possible in the confirmation page via the admin.

Checkout Pages -> via Just Uno Only

Mobile message will depend on design

[2017-04-18 18:19] juanmriosv commented on #36
**Staging:**
https://www.staging.c21.weblinc.com/checkout/confirmation

[2017-04-18 19:24] c21hornak opened #58 "Add Sales/Plan FY2017 & FY2016 Tracking to the Dashboard for Michael"
Michael delegating this tracking to Adena/Lisa.

[2017-04-20 03:07] c21hornak commented on #50
Social Media Documentation (from Dawn?): https://docs.google.com/document/d/12XI7sYD9vPTZbRWFq62tZRGNC2tThu97o6FOZAHYozg/edit?ts=58f774ff

[2017-04-21 16:22] juanmriosv commented on #16
@c21hornak
Will do. Need access to [doc](https://docs.google.com/spreadsheets/d/1XgToq8SwFYM0xMPdpXb_PrckMQk7VbH-ZazbT4DAJtI/edit?ts=58dbe304#gid=1501240443)

[2017-04-24 14:46] juanmriosv commented on #16
@c21hornak
Done in Staging
![screen shot 2017-04-24 at 10 45 10 am](https://cloud.githubusercontent.com/assets/16789090/25342856/53f6d99e-28db-11e7-9789-53853c1df188.png)

[2017-04-24 14:50] c21hornak commented on #16
Looks good. @AdenaG can you please QA this today?

[2017-04-24 16:05] AdenaG commented on #16
@juanmriosv
Pass in STAGING.

[2017-04-24 16:16] juanmriosv commented on #16
@c21hornak
Ok to push to production?

[2017-04-24 16:24] AdenaG opened #59 "Wishi Replacing Brickwork Stylist Appointments - Remove all Reference"
Remove Brickwork in-store stylist program and all site-wide references to it, as well as parties involved in Brickwork admin.
301 Redirect to Wishi Page.

1. 301 Redirect this page in STAGING & PROD
https://www.c21stores.com/pages/c21-on-1-stylist
to
https://www.c21stores.com/wishi

2. Add the following Search Redirects (redirect to https://www.c21stores.com/wishi):
• stylist
• styling
• personal

[2017-04-24 16:27] c21hornak commented on #16
@juanmriosv yes

[2017-04-24 17:13] c21hornak commented on #59
@AdenaG would this page (https://www.c21stores.com/pages/c21-on-1-stylist) also need to be de-activated, or does the 301 redirect effectively do that?

[2017-04-24 17:18] c21hornak commented on #59
@AdenaG fyi I also made a couple of minor tweaks

[2017-04-24 17:37] c21hornak commented on #59
@AdenaG when you wrote "redirect", did you mean 301 redirect or on-site search redirect?

[2017-04-24 17:44] AdenaG commented on #59
@c21hornak
Url direct, so 301. Pages cannot be deactivated anyway.

[2017-04-24 17:47] c21hornak commented on #59
@AdenaG ok thanks. Could you or Lisa please pull some kind of traffic metrics for that c21-on-one stylist page? Either past year, average per week/month/day, depending on amount of traffic, whatever metrics makes most sense.

[2017-04-24 17:50] c21hornak commented on #59
@AdenaG are there any search redirects setup for the c21-on-1stylist page? And if so, do they need to be edited? Or deleted and new ones set up for WISHI?

[2017-04-25 16:41] AdenaG commented on #45
@c21hornak
Channel Advisor Feed QA tab
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit?usp=sharing

[2017-04-25 16:41] AdenaG commented on #46
@c21hornak
Channel Advisor Feed QA tab
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit?usp=sharing

[2017-04-25 18:04] AdenaG commented on #59
@c21hornak I think we had when the c21 stylist page was in the footer nav, but was removed at that point. There arent any currently for Wishi, stylist or other requested. Ill look into metrics.

[2017-04-25 19:28] juanmriosv commented on #16
@c21hornak
Done, pushed to production

[2017-04-25 20:17] AdenaG commented on #16
@juanmriosv @c21hornak
I have to backtrack - FAIL in STAGING & PROD. The X to close out of the pop-up doesn't work, however the pop-up closes so quickly on its own, most people wouldn't even get there to close it in time. Ideally, should be removed if it doesnt work.

[2017-04-26 14:49] AdenaG commented on #16
@juanmriosv
Per our conversation that you are using the WL green alerts for this, I confirmed that the WL ones do close when you X out of them.

[2017-04-26 16:10] c21hornak commented on #13
@juanmriosv prototype is approved and the official copy from Emily is this:
"Signature required to receive orders of $500 or more."

See Workfront request: https://c21.attask-ondemand.com/issue/view?ID=5900c2e700023871110df61fcc5f2a4e

Please proceed to prepare the prototype for QA testing on STAGING.

[2017-04-27 04:15] c21hornak commented on #59
@AdenaG could you please pull the traffic metrics for the c21-on-1 page asap today and also add in section 2 what search redirects you feel should be setup for this?

I would like to get this checklist in front of Elisabeth asap for her approval. The traffic metrics is needed for the decision making process for setting up the 301 redirect. There are pros and cons to weigh.

[2017-04-27 04:27] c21hornak opened #60 "Work with Email Team to Implement Fix to Wish List Emails"

[2017-04-27 14:24] AdenaG commented on #59
@c21hornak
I pulled from Feb 2016 to Feb 2017, since that is when the page was removed from navigation.
Sessions peaked between 4/2016 and 10/2016, probably due to the page being featured on our HP around that time.
[Stylist Page Metrics.xlsx](https://github.com/Century21Stores/SPECIAL/files/961871/Stylist.Page.Metrics.xlsx)

[2017-04-27 15:34] c21hornak opened #61 "Investigate/Troubleshoot Data to find Cause of Drop in Conversion Rate"
@AdenaG this is for the tasks Elisabeth is giving you:
• 2017 Vendor Sales by UDF STD.xlsx
• Slow Seller Report
• Complete List of Tech Styles

[2017-04-27 15:36] c21hornak opened #62 "Get Verified Badges for Instagram, Twitter, Pinterest & Google+ Accounts"
Requested by Isaac Gindi on 4/26/17

**Order of Priority:**
• Facebook — "Verified Page" — solid gray circle with checkmark badge (completed before 4/26 ✅)
• Facebook — "Verified Page" — solid blue circle with checkmark badge
• Facebook Store Pages — "Verified Page" — GRAY circle with checkmark badge (most locations completed before 4/26 ✅ — C21•EDITION, City Point, and Sawgrass is in progress / n

[2017-04-27 19:37] c21hornak commented on #59
![metrics](https://cloud.githubusercontent.com/assets/19403001/25501057/55fb2598-2b5f-11e7-8789-24067d320c42.png)

[2017-04-27 19:41] c21hornak commented on #59
@AdenaG sorry, I just added the "section 2" I was referring to in my last comment. I must not have saved my edits last night.

[2017-05-02 21:59] AdenaG commented on #59
@c21hornak
Now looks like my edits didnt save...
[Stylist Page Metrics & Search.xlsx](https://github.com/Century21Stores/SPECIAL/files/972064/Stylist.Page.Metrics.Search.xlsx)

Revised attached.

[2017-05-02 22:03] AdenaG commented on #27
Trained with Melissa on sending email proofs, but can only see proof for header/footer and global template. Cannot see products being sent, as that is customized.
There are a set number of templates right now. I can send test emails to the team, and when new ones get created my Melissa, I can do the same. @c21hornak - please confirm or if you want a different process.

[2017-05-02 22:09] AdenaG commented on #61
@c21hornak
Edited - disregard my last comment.
Since this is ongoing, this ticket will remain open. Assuming Elisabeth is sending a list each week? Do you know timeframe, expected turnaround?

[2017-05-03 03:55] c21hornak opened #63 "Increase Security/Audit Access for Social Media"
• update passwords
• review access

[2017-05-03 03:59] c21hornak commented on #63
Password document: https://docs.google.com/spreadsheets/d/1k9j8WJ-JNmnClQczMZznoVID_txS1G6rWSbgIXXx81w/edit?ts=58dea125#gid=0

[2017-05-03 05:05] c21hornak commented on #59
@AdenaG Thanks. Please execute items 2, 3 & 4 asap on Wednesday.

Please hold on the other items.

[2017-05-03 05:20] c21hornak commented on #59
@AdenaG actually...hold off - having second thoughts.

[2017-05-03 09:36] c21hornak opened #64 "Document 404/301/302 Best Practices & Procedure for Approval"
Document what we believe to be correct best practices and the process for how we should apply those best practices.

Elisabeth would like this to be presented at the next SEO touchbase, for review.

[2017-05-03 10:21] c21hornak commented on #64
Oops — this is a duplicate of https://github.com/Century21Stores/SPECIAL/issues/55 — Closing.

[2017-05-03 10:21] #64 closed, assigned to nobody

[2017-05-03 10:22] c21hornak commented on #55
Document what we believe to be correct best practices and the process for how we should apply those best practices.

Elisabeth would like this to be presented at the next SEO touchbase, for review.

[2017-05-03 20:43] c21hornak opened #65 "QA Process to Analyze Slow Seller Report for 0 WebLinc Inventory when there is VMOH"
Here is the new weekly process Elisabeth needs you/your team to compete:

• One-Time: Set up a calendar alert for Monday’s at 12:00PM
• Every Monday, right after 12:00PM, go to the "smb://c21stores.com/vnxcifs01/sharedata/ecommerce/Enterprise/Send Back/Slow Seller" folder and choose the report with the correct date.
• Always use the file marked “PV” (it’s the smaller report)
• Run the report again

[2017-05-03 23:17] c21hornak commented on #16
I don't think it's a big enough issue to take time to fix, considering other work on our plates right now. We can revisit if this starts to bother people/if people start reporting it as an issue. Closing.

[2017-05-03 23:17] #16 closed, assigned to juanmriosv

[2017-05-04 19:11] c21hornak commented on #59
@AdenaG go ahead and proceed with items 2, 3 & 4.

Juan is doing item 1 and building an experiment to track how many times people get redirected.

5 is approved to do on Friday 5/12 pending Mark's feedback.

Lisa can do 6 after 5 is done.

[2017-05-05 02:20] c21hornak commented on #62
From: "McDaniels, Elisabeth" <emcdaniels@c21stores.com>
Date: Thursday, April 27, 2017 at 12:55 PM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Re: Social Logins

Agreed.

From: <Hornak>, Michael <mhornak@c21stores.com>
Date: Wednesday, April 26, 2017 11:38 PM
To: Elisabeth McDaniels <emcdaniels@c21stores.com>
Subject: FW: Social Logins

Should this project fall under Juan/Web Production?

[2017-05-05 02:28] c21hornak commented on #62
From: "Stevens, Chuck" <chstevens@c21stores.com>
Date: Thursday, April 27, 2017 at 9:21 AM
To: "Gindi, Isaac" <igindi@c21stores.com>, "McDaniels, Elisabeth" <emcdaniels@c21stores.com>, Michael Hornak <mhornak@c21stores.com>
Subject: Re: good morning, any update on instagram.

Morning Isaac,
  I’m adding Elisabeth and Michael to the email. They will be taking this on since they are the administrato

[2017-05-05 03:34] c21hornak opened #66 "QA Process for Scheduled Social Media Posts"

[2017-05-05 05:26] c21hornak commented on #62
![facebook-verified](https://cloud.githubusercontent.com/assets/19403001/25741617/79b9caa2-3159-11e7-9123-ff401e3f47c9.png)

[2017-05-05 05:30] c21hornak commented on #62
Steps I took to try to get C21's Official Instagram verified:
• confirmed that C21's Official Facebook was verified and that it was linked in the Instagram app (this was already done)
• I linked to C21's Official Twitter from within the Instagram app
![img_2360](https://cloud.githubusercontent.com/assets/19403001/25734493/7e91401e-3131-11e7-966d-270cffc6ad66.PNG)

[2017-05-05 06:06] c21hornak commented on #26
Closing this and we can continue the work on #24

[2017-05-05 06:06] #26 closed, assigned to juanmriosv

[2017-05-05 06:15] c21hornak commented on #24
@juanmriosv I closed #26 since Elisabeth doesn't want to do that, because it requires WebLinc work to expose data.

Next steps for this ticket:
• Elisabeth is ok if you can't detect which type of PLCC card holder the guest is. Instead, change the experience based only on the PLCC segments "acquisition", "retention" and "denied".
• You already have "acquisition" done. Can you make "denied" users se

[2017-05-05 06:41] c21hornak opened #67 "Administer Store Locations in Google My Business to Match Brickwork"
Here is information about the Google My Business integration with Brickwork, and how syndication works from Brickwork to Google My Business.
[Brickwork - Google My Business-Step by Step for C21.pdf](https://github.com/Century21Stores/SPECIAL/files/978255/Brickwork.-.Google.My.Business-Step.by.Step.for.C21.pdf)

Note: the Google Accounts seem very complex. I am starting to think we might need to re

[2017-05-05 10:09] c21hornak commented on #62
Steps I took to try to get C21's Official Twitter Account verified:
• filled out this form:
![screen shot 2017-04-28 at 12 57 45 am](https://cloud.githubusercontent.com/assets/19403001/25734540/39e2ba6e-3132-11e7-80b0-0bc86343d001.png)
• Next step is to check the socialmedia@c21stores.com mailbox for a decision from Twitter. If they reject our verification, we can reapply in 30 days.

[2017-05-05 10:41] c21hornak opened #68 "Social Media Normalization & Pre-Strategy"
https://docs.google.com/document/d/1M1jvr003ImFaKfsJmsozhYmFfzobpQnhO3tzhOB68K0/edit

[2017-05-05 10:55] c21hornak opened #69 "Facebook Store Location Pages to Match Brickwork"
From the Manage Locations page in Facebook: https://www.facebook.com/century21stores/settings/?tab=locations

Please build whatever pages are missing and take whatever steps are required to get them verified like our other Store Location Pages in Facebook. Refer to Brickwork for the full list of stores.

Once they are all created, please update the pertinent fields (address, phone, store hours, et

[2017-05-05 12:22] c21hornak commented on #54
This was canceled. Closing.

[2017-05-05 12:22] #54 closed, assigned to nobody

[2017-05-05 14:24] AdenaG commented on #59
@c21hornak
2, 3, 4 updated yesterday.

[2017-05-09 07:59] c21hornak commented on #59
@AdenaG fyi, Juan has completed item 1 on 5/8.

[2017-05-10 02:51] c21hornak opened #70 "QA Process to Regression Test All Tags & Pixels After Every DDX Deployment"
**Project Opened 4/20/17:**

https://get.google.com/tagassistant

[2017-05-10 13:50] c21hornak commented on #13
@juanmriosv I just added this to the top of your iCloud today

[2017-05-10 17:08] juanmriosv commented on #13
@c21hornak All done Michael

[2017-05-11 14:24] AdenaG commented on #65
Updates to the above:
• One-Time: Set up a calendar alert for Monday’s at 12:00PM
• Every Monday, right after 12:00PM, go to the "smb://c21stores.com/vnxcifs01/sharedata/ecommerce/Enterprise/Send Back/Slow Seller" folder and choose the report with the correct date. **Sometimes report isnt ready by 12pm. Shereen to email me once complete.**
• Always use the file marked “PV” (it’s the smaller report

[2017-05-11 14:27] AdenaG commented on #60
Per Ken,
Do we know that the new payload with the URL specified below is what is currently in place?  We may need to retrieve the actual payload that triggered Jessica’s email.

Per Michael,
There’s no way for me/us to retrieve it without WebLinc unfortunately. It may be possible for Responsys to check some kind of log to see what payloads are coming in, but I vaguely remember trying to go down th

[2017-05-11 14:27] AdenaG commented on #59
Just waiting to get confirmation for #5

[2017-05-11 15:13] juanmriosv commented on #69
Hi @c21hornak,

I assigned this to @lstaab Lydia, but from what I understood yesterday. You are doing it?

[2017-05-11 15:19] juanmriosv commented on #62
@c21hornak
Do you feel we should open a new repository for social?

[2017-05-11 15:24] c21hornak commented on #69
@juanmriosv correct, I'll make sure all locations exist in Facebook first, then I can assign back to Lydia

[2017-05-11 15:36] juanmriosv commented on #55
@c21hornak
From our meeting, waiting for Ken Mitchel to provide top 100
Question:

- From Noriel (nuked them) and after our meeting is it ok to erase all 301/302 redirects from staging (since this really for external use and noone should search staging)
- Can I erase all 301 redirects pointing to home?
- Can we export a list of all current 301/302 from production?

[2017-05-11 16:09] juanmriosv commented on #51
@lstaab completed

[2017-05-11 16:12] juanmriosv commented on #51
@c21hornak
Things to consider, from our SEO meeting.

- There is Keyword Field, which it seems not to have any impact if it is filled. I recall Weblinc mentioned it?
- There still not only top level navigation but also other pages without title and description. This is needed also for ADA.

[2017-05-15 17:49] c21hornak commented on #59
@AdenaG Mark said nothing, therefore approved to do item 5.

[2017-05-16 13:33] c21hornak commented on #62
Noticed on 5/15 that our Twitter account was now verified. It was most likely that way since Friday 5/12 since it was already loaded on the browser tab and had probably loaded on 5/12.
![twitter-verified-2017-05-15_at_1-46-27-pm](https://cloud.githubusercontent.com/assets/19403001/26108499/b58f79c2-3a1a-11e7-9883-87b42e2e0e53.png)

[2017-05-16 13:38] juanmriosv commented on #63
@c21hornak
I removed the link doc from here (for security)
There is ways to get to a repository even if it is private.

[2017-05-16 13:58] c21hornak commented on #30
Elisabeth approved on 3/20/17.

[2017-05-16 13:58] c21hornak commented on #30
Ken Mitchell approved on 5/3/17.

From: "Mitchell, Ken" <kmitchell@c21stores.com>
Date: Wednesday, May 3, 2017 at 9:20 AM
To: Michael Hornak <mhornak@c21stores.com>
Subject: RE: Google My Business Account

Hi:

I have no problem with the migration or having this live under Juan’s team.  My only concern is changing the email might be a hassle, but if you can work that out with google feel free.  C2

[2017-05-16 14:08] c21hornak commented on #30
Completed 5/3/17. Continuing work on https://github.com/Century21Stores/SOCIAL/issues/1

Closing.

[2017-05-16 14:08] #30 closed, assigned to nobody

[2017-05-17 02:53] c21hornak commented on #69
@lstaab all locations exist now in Facebook - ok to begin updating with correct store information from Brickwork.

cc @juanmriosv

[2017-05-17 03:03] c21hornak commented on #67
@juanmriosv 1 through 6 is completed on here now. Just item 7 needs to be completed now. Probably Lydia can do this but I thought you should take a look in the account first to be familiar with it.

[2017-05-17 03:49] juanmriosv commented on #67
@c21hornak, will do

[2017-05-17 13:15] lstaab commented on #69
@c21hornak -Ok thanks-- will work on today/tomorrow. Please note: As of 5/5 I updated all hrs but the 3 that were missing: Citipoint, C21 Edition & Sawgrass . So will finish hrs on those and then will proceed on to match other info from brickwork to FB on all. cc @juanmriosv

[2017-05-17 19:01] AdenaG commented on #59
@c21hornak #5 done. And confirmed no other metrics since last reported may wk1.

[2017-05-18 15:21] lstaab commented on #69
@c21hornak cc @juanmriosv Hours done for all Facebook stores. Want to clarify what additional fields to start next to fill in on Facebook. Drafted a spreadsheet for About Page/Fields. Started with Store 1. Appreciate your feedback-some notes/questions in yellow. Thanks.
https://docs.google.com/spreadsheets/d/1_yYGHoInzMahnyl7CZWU3JR8OqvheIwBdTAPO1aJFU8/edit?usp=sharing

[2017-05-19 00:55] c21hornak commented on #69
@lstaab I added my comments on your Google Doc.

[2017-05-19 15:04] juanmriosv opened #71 "Copy Blocks Round 1"
[WorkFront Request](https://c21.attask-ondemand.com/issue/view?ID=58ff595c000a3881ba7923e7575ed86f) (Docs included)

[All copy](https://docs.google.com/document/d/17nLrHToYCwZd4R-qMZLEeIO3RzXHHKZcLSMNhMt96tg/edit?usp=sharing)

[2017-05-19 15:05] juanmriosv commented on #71
[Staging Sample](https://www.staging.c21.weblinc.com/pages/shoes)
UAT Approved. It will stay between footer and essential images

To do on Staging.

- [x] Women LP
- [x] Shoes  LP
- [x] Handbags & Accessories LP
- [x] Beauty LP
- [x] Men LP
- [x] Kids LP
- [x] Home LP
- [x] Tech LP

[2017-05-19 15:45] c21hornak opened #72 "Work With Email Team to Fix Bluecore Email Footers"

[2017-05-22 19:36] c21hornak commented on #71
@AdenaG Juan had to place some custom code to do what the Workfront request was requesting, and to do it in the way Juan & Ken MItchell discussed offline (not sure if that discussion was documented anywhere) – @juanmriosv if not, can you note somewhere what you needed to do for SEO?

[2017-05-22 19:48] juanmriosv commented on #71
@c21hornak
This is something that a computer will be able to differentiate, not customers at all.
For QA, if the copy block appears (in store front) in any other position than after "essentials" then there is something wrong.

[2017-05-23 13:01] juanmriosv commented on #71
@c21hornak, since I will be working on the landing pages for refresh and UAT, copy and links were approved, I will push copy blocks to production at the same time.

**Pushed to production:**

- [x]  Women LP
- [x]  Shoes LP
- [x]  Handbags & Accessories LP
- [x]  Beauty LP
- [x]  Men LP
- [x]  Kids LP
- [x]  Home LP
- [x]  Tech LP

[2017-05-23 15:49] AdenaG commented on #71
@juanmriosv
to clarify which one is correct?
you pushed the changes to prod already
you are pushing them to preview with tomorrows refresh and go live 5/30
you are pushing them with a sooner refresh

[2017-05-23 17:09] juanmriosv commented on #71
One Update From Elisabeth:
"Copy should continue after each period."  (single paragraph of copy)

Done in both staging and production

[2017-05-23 17:14] juanmriosv commented on #71
@AdenaG
The first one, **Pushed to production**  (please see site, it should be live)

[2017-05-25 14:02] juanmriosv commented on #51
Hi @lstaab,
A new batch has been added to [this document request](https://docs.google.com/spreadsheets/d/11e9Fz-AkS_riqpLNoNucHxyBDzaVnIsiJ3x3FQ26bys/edit?usp=sharing)

"Batch6_MAY2017"

[2017-05-26 15:13] AdenaG commented on #65
Process solidified:
Once Shereen updates slow sellers report (typically Monday by 2, but sometimes earlier/later), compile list to request Ecometry Inventory by sku from ecomm support.
Once received, merge with Tableau OH report by sku and proofs by category report.
Send 2nd request to ecomm support to address discrepancy between inventory in E1 and 0 inventory in Ecometry.

[2017-05-26 15:29] AdenaG commented on #71
Looks good in PROD.

[2017-05-28 02:24] c21hornak opened #73 "Gain Kronos CMS Access and Work With Creative to Update C21 Logo"
From: Hornak, Michael
Sent: Wednesday, May 03, 2017 6:13 PM
To: IS Operators
Subject: C21 Logo in Kronos

Hello,

My team manages/uploads/edits the content & images on the c21stores.com web site. I’m requesting the type of content administrator access for this Kronos site that would allow me to take steps to update the C21 logo that’s there now to one that is brand-compliant. The one that’s there

[2017-05-30 16:41] c21hornak opened #74 "VIP Shopping Area for Products Restricted from Search"
**Original Request from 4/10:**
From: "Hornak, Michael" <mhornak@c21stores.com>
Date: Monday, April 10, 2017 at 4:35 PM
To: a g <agoldis@c21stores.com>
Subject: Please Test VIP Shopping Area

We would like to build an area of the site that’s invisible to OSS, Google/organic search, not in the nav, and can be turned off completely and go to a 404.

This concept is for a VIP shopping area where our

[2017-05-31 03:59] c21hornak commented on #71
![screen shot 2017-05-30 at 11 58 44 pm](https://cloud.githubusercontent.com/assets/19403001/26615321/f461d1d4-4593-11e7-8295-50480e4634f4.png)

[2017-05-31 03:59] c21hornak commented on #71
Closing.

[2017-05-31 03:59] #71 closed, assigned to nobody

[2017-05-31 08:38] c21hornak commented on #65
@AdenaG please add link to Google Doc documentation.

[2017-05-31 15:59] c21hornak opened #75 "Copy Blocks Round 2"
From: "Mennella, Andrea" <amennella@c21stores.com>
Date: Wednesday, May 31, 2017 at 11:28 AM
To: "McDaniels, Elisabeth" <emcdaniels@c21stores.com>, "Mitchell, Ken" <kmitchell@c21stores.com>
Cc: Emily Scardino Arkhipova <escardino@c21stores.com>, "Hornak, Michael" <mhornak@c21stores.com>, "Rios, Juan Manuel" <jrios@c21stores.com>, "Lato, Halaine" <hlato@c21stores.com>
Subject: Re: Keyword rankings

[2017-05-31 22:05] c21hornak opened #76 "QA Process for Newgistics End-to-End Testing"

[2017-06-01 05:12] c21hornak opened #77 "SEO Project to Update Top Level Title Tags & Meta Descriptions May 2017"
Kicked off this task in the Friday 5/19 SEO TB in the NY 4th Floor Library.

From: Halaine Lato <hlato@c21stores.com>
Date: Tuesday, May 23, 2017 at 2:17 PM
To: "Rios, Juan Manuel" <jrios@c21stores.com>, "Staab, Lydia" <lstaab@c21stores.com>
Cc: WebProduction <WebProduction@c21stores.com>
Subject: Top Level Title Tags/Meta Descriptions

Hey Juan/Lydia,

I know typically I would add this in the cat

[2017-06-01 05:15] c21hornak commented on #77
From: "Rios, Juan Manuel" <jrios@c21stores.com>
Date: Wednesday, May 31, 2017 at 3:21 PM
To: Halaine Lato <hlato@c21stores.com>
Cc: WebProduction <WebProduction@c21stores.com>, Ecomm Site Merchandising <EcommSiteMerchandising@c21stores.com>
Subject: Re: Top Level Title Tags/Meta Descriptions

Hi Halaine,

This is done
It has been applied to:

https://www.c21stores.com/categories/new-reductions-spe

[2017-06-01 05:23] c21hornak commented on #77
Closing.

[2017-06-01 05:23] #77 closed, assigned to nobody

[2017-06-02 14:14] AdenaG commented on #74
Sent 1st draft to Elisabeth/Andrea
https://www.c21stores.com/pages/vip-shopping-area

Andrea, at Adena’s TB with your team earlier she reviewed with them how, if they were to want create more categories in this area, they would need to request those so they’re built properly and won’t get inadvertently found by On Site Search or Google/Organic Search. i.e. Category names can’t be the same as popul

[2017-06-02 14:16] AdenaG commented on #65
Updated process starting 6/5/17:
Shereen to provide slow sellers list Monday.
Lisa to pull Tableau OH report by sku of styles on slow sellers list.
Lisa to send single request to IT/IS Operators. cc Michael, Adena, Elisabeth requesting Ecometry inventory pull and comparison/reconciliation between that and Tableau (E1) inventory.

[2017-06-23 16:10] c21hornak commented on #47
Updating TTI to <5 minutes Daily

[2017-06-23 16:17] c21hornak commented on #47
Update 5/23: We are now looped in with Account Center and were involved with building the June request to ADS.

[2017-06-23 16:32] c21hornak commented on #47
@AdenaG could you please make some tweaks to your documentation? I updated the description of this ticket.

I will let you write the official process (I'll review after), but generally:

• I would like this to be a daily process, and for whoever is assigned to it that day to do it upon arriving to the office (within reason, within maybe an hour of arriving)
• The person QAing should check desktop

[2017-06-26 15:51] AdenaG commented on #47
Done. I think its safe to just copy you and me, since this doesnt involve content that is updated by our team.

Also, added instructions for errors
"omnichannel QA"
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit?usp=sharing

[2017-06-27 13:46] c21hornak opened #78 "Resolve Justuno Outage/Errors"
![unknown](https://user-images.githubusercontent.com/19403001/27591045-881c35c8-5b1e-11e7-81fd-b85aea24e470.png)

![screen shot 2017-06-27 at 9 55 04 am](https://user-images.githubusercontent.com/19403001/27591292-374f62c2-5b1f-11e7-984d-247e132a9c49.png)

[2017-06-28 02:52] c21hornak opened #79 "Mitigate YouTube Changes/Deletions"
• Incorrect permissions for video on WISHI page — https://www.c21stores.com/pages/wishi
• 4 videos missing/deleted that support Men's Jeans Rich Media Banner — https://www.c21stores.com/categories/men-jeans
• 4 videos missing/deleted that support Women's Jeans Rich Media Banner — https://www.c21stores.com/categories/women-jeans

[2017-06-28 02:53] c21hornak commented on #79
@juanmriosv awaiting direction from Elisabeth/Chuck

[2017-06-28 02:57] c21hornak commented on #74
@AdenaG this is on hold pending Elisabeth's reply to your email. This ticket can stay with you for now and can resume work once you have additional direction.

[2017-06-28 02:58] c21hornak opened #80 "WISHI Issue Displaying C21 Images in Canvas"

[2017-06-28 12:18] juanmriosv commented on #55
**From Friday 23 Meeting:**

- [ ] _Emily to complete first 10 by EOD Tuesday 6/27. Emily To discuss with Sarah the idea of outsourcing remaining copy blocks
- [ ]  _Juan to see if he can rank them in terms of traffic to the page so we know where to start_
- [ ]  _Canonical Tag feedback – Ken Micheal/Juan to set up time to call and review with Noriel. May involve weblinc_

[2017-06-29 06:38] c21hornak opened #81 "Copy Blocks Round 3"
Halaine Lato,  Hey Juan - Please see the documents tab for the copy blocks for the following categories:

Intimates & Sleepwear
Men's Jeans
Men's Sneakers
Men's Suits & Separates
Men's Sunglasses
Men's Polo's & T-Shirts
New + Now
Women's Dresses
Women's Jeans
Women's Tops & Tees

https://c21.my.workfront.com/issue/view?ID=593823ac0028a5e090c80531040cd490

![screen shot 2017-06-29 at 2 39 16 am](ht

[2017-06-29 20:05] juanmriosv opened #82 "Amazon Lockers Prototype to Redeem C21 Discount"
06/29/17
We had a call with Elisabeth and IT to talk about "Amazon Lockers"

These were delivered to Elizabeth:
- Story Board
- First Mockups

All copy are place holders.

### Story Board
![amazonlockers_story](https://user-images.githubusercontent.com/16789090/27707730-65b2e60e-5ce4-11e7-8797-7e2706e5cc12.png)

### "Form Page" Mockup
![form](https://user-images.githubusercontent.com/16789090/2770

[2017-06-30 01:29] c21hornak opened #83 "Build a Google Sheet for Browse Grid Ads Coremetrics Data to Live"

[2017-07-05 12:36] juanmriosv commented on #82
@c21hornak,
Elisabeth asked to add First Name, Last Name and Zip Code to the Form
This is the new comp that was delivered on Monday 070317

[AmazonLockers.pdf](https://github.com/Century21Stores/SPECIAL/files/1124618/AmazonLockers.pdf)

[2017-07-05 14:31] juanmriosv opened #84 "Copy Blocks Round 2"
Top 10 Categories and New and Now Landing Page

[https://c21.my.workfront.com/issue/view?ID=593823ac0028a5e090c80531040cd490](https://c21.my.workfront.com/issue/view?ID=593823ac0028a5e090c80531040cd490)
Request to add copy blocks to:

- [x] INTIMATES SLEEPWEAR

- [x] MEN DRESS SHIRTS

- [x] MEN JEANS

- [x] MEN SNEAKERS

- [x] MEN SUITS SEPARATES

- [x] MEN SUNGLASSES

- [x] MEN TOPS TEES

- [x] N

[2017-07-05 14:47] juanmriosv commented on #84
This requires custom code.

[2017-07-06 04:26] c21hornak commented on #84
@juanmriosv is this a duplicate of https://github.com/Century21Stores/SPECIAL/issues/81 ?

I think it should be "Round 3" because:
• this was Round 1 - https://github.com/Century21Stores/SPECIAL/issues/71
• this was Round 2 - https://github.com/Century21Stores/SPECIAL/issues/75

[2017-07-06 18:08] juanmriosv commented on #84
@c21hornak

Yes, I did not see #81
It is a duplicate, the first 10 of #75

Should I continue here?

[2017-07-06 18:15] c21hornak opened #85 "Add 301 Redirect Fields to Category Requests Doc"
This makes v2.0 – https://docs.google.com/spreadsheets/d/1BXmU6qQkp3WOyKHL3UMtjwrOOBC8_Q0Mglyeq80-F9g/edit?ts=58daa172#gid=730056883

Maybe add a button on the form that does a check for loops.

[2017-07-07 00:02] c21hornak opened #86 "Amazon Lockers Project Implementation"
This ticket covers the project management Michael/Web Production are doing for this project.

• On 6/28/17 – Elisabeth mentioned to Michael that this project was coming. At the time it seemed like Noriel would be doing all the development.
• On 6/29/17 – Juan/Elisabeth/IT joined a call to discuss the first project deliverables (requirements/mockups/prototypes).
• Juan produced some mockups/wirefra

[2017-07-07 03:12] juanmriosv commented on #82
@c21hornak
Was thinking that this mockups could fall under this repository. What do you think?
https://github.com/Century21Stores/UXD/tree/master/Amazon_Lockers

Juan

[2017-07-18 14:06] juanmriosv opened #87 "Copy Blocks Round 3"
Top 10 Categories and New and Now Landing Page

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=595673b6002d42e2535de98d4b3056de)

Request to add copy blocks to:

- [x] WOMEN LUXURY SHOES

- [x] H&A LUXURY AND DESIGNER

- [x] MEN NEW ARRIVALS

- [x] MEN CASUAL BUTTON SHIRT

- [x] H&A SUNGLASSES

[2017-07-20 16:21] juanmriosv opened #88 "Canonical Tags"
Requirements for weblinc and questions for conductor:

[Canonical.pdf](https://github.com/Century21Stores/SPECIAL/files/1162991/Canonical.pdf)

[2017-07-20 16:46] juanmriosv opened #89 "Sitemap"
**Currently the sitemap is being submitted to the HTTP version of the google master tools.**

**and it is currently not being submitted to the HTTPs version.**

The two site maps submitted to the HTTP version have HTTPs addresses and contains pages currently live.

- https://www.c21stores.com/sitemap1.xml.gz
- https://www.c21stores.com/sitemap2.xml.gz

[2017-07-20 16:49] juanmriosv commented on #89
[Adding to questions for conductor](https://docs.google.com/document/d/1HM__HLs_hmCKcUACBZWBpHxqdAWpIi-yoHbeTQQd1Tk/edit?usp=sharing)

[2017-07-20 16:49] juanmriosv commented on #88
[Adding to questions for conductor](https://docs.google.com/document/d/1HM__HLs_hmCKcUACBZWBpHxqdAWpIi-yoHbeTQQd1Tk/edit?usp=sharing)

[2017-07-24 13:02] juanmriosv opened #90 "Copy Blocks Round 4"
Next 4 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=595673b6002d42e2535de98d4b3056de&commentID=5975e7e701a3c143ac1164f1f65264d2&activeTab=tab-issue-updates)

Request to add copy blocks to:

- [x] Shoes Flats
- [x] Women Shoes Shop All
- [x] Shoes Sneakers
- [x] Men Shoes Shop All

[2017-07-24 13:31] juanmriosv commented on #90
@lstaab,
Please add copy blocks for the above 4 Categories categories.
Please the Category's copy block code from here:
[https://github.com/Century21Stores/SPECIAL/tree/master/HTML_CopyBlocks](https://github.com/Century21Stores/SPECIAL/tree/master/HTML_CopyBlocks)

Place it as the first  content block (above any banner)

[2017-07-27 15:48] juanmriosv opened #91 "Github Showing in Google Search"
Google is finding the URLs via GitHub.
For example:
[https://www.google.com/search?site=&source=hp&q=www.staging.c21.weblinc.com](https://www.google.com/search?site=&source=hp&q=www.staging.c21.weblinc.com)

[2017-07-27 15:53] juanmriosv commented on #91
@c21hornak
The Following repositories has a "Master" branch:

- EMAIL
- ADMIN-CONTENT
- LANDING-PAGES
- RICH-MEDIA-BANNERS
- BRICKWORK
- Basic-copy-only-Pages
- UXD
- UX
- SPECIAL
- GLOBAL

This branch was removed from all above and replace for another one.
Google only crawls "Master" branches.
Let's allow some time for google to recrawl

[2017-07-31 15:12] juanmriosv opened #92 "DeepCrawl Exploration and Setup"
https://conductor.deepcrawl.com

To review:

- [x] Video: Project & Crawl Setup
- [x] Video: Reporting Overview
- [x] TEXT: The Robots.txt Overwrite Feature: Use Case
- [x] How to Crawl AJAX Escaped Fragment Websites
- [x] Using Crawl Limits to Reduce Credit Usage
- [x] Using Custom Extraction
- [x] Crawling Multiple Domains Or Subdomains
- [x] Comparing A Test Website To A Live Website
- [x] How

[2017-07-31 15:13] juanmriosv commented on #92
[Adding to questions for conductor](https://docs.google.com/document/d/1HM__HLs_hmCKcUACBZWBpHxqdAWpIi-yoHbeTQQd1Tk/edit?usp=sharing)

[2017-08-01 16:26] juanmriosv commented on #92
@c21hornak Done reviewing this documentation.
All are a general introduction to all what DeepCrawl is capable of doing.
I have mentioned Ken that I am done reviewing it, he will go ahead with the next step which is setting up a call with Conductor to go over DeepCrawl. This will probably happen on Thursday.

[2017-08-01 16:45] juanmriosv opened #93 "Copy Blocks Round 5"
Next 6 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=5975ecba01a52322f615dcf521f28fae&commentID=59808b81002a912cd8ccfb8c51df938c&activeTab=tab-issue-updates)

Request to add copy blocks to:

- [x] Women's Blazers & Jackets
- [x] Men's Watches
- [x] Women's Active
- [x] Men's Pants
- [x] Men's Dress Shoes
- [x] Men's Blazers & Sport Coats

[2017-08-01 19:14] juanmriosv commented on #93
All done

[2017-08-02 13:32] c21hornak opened #94 "Fur Initial Sitewide Suppression"

[2017-08-02 18:14] c21hornak opened #95 "Build a 360º Shoppable Experience Proof of Concept"
**Option 1:** Custom 360 shop-able viewer built by us
**Option 2:** Curalate Revolve Tool
**Option 3:** Other Third Party

Playground: https://www.c21stores.com/pages/360

_**Types of Shoppable Quickviews:**_
• Sticky-Tooltip on Hover — [Saks Grand Showcase](http://www.saksfifthavenue.com/editorial/events/grand-showcase.jsp)
• Bottom Opacity Overlay with Thumbnail & Product Name — Curalate/Basquia

[2017-08-14 16:34] juanmriosv commented on #92
First Crawl has been setup after call with Conductor (08.14.17)
It will be a full crawl at a rate of 3 URL per second. With a static IP address:
<img width="380" alt="screen shot 2017-08-14 at 12 34 37 pm" src="https://user-images.githubusercontent.com/16789090/29281424-f5f6bc1e-80ec-11e7-8250-681414c15c31.png">

This crawl was "site only" (did not include any integration)

[2017-08-15 12:13] c21hornak opened #96 "LiveChat Front-End Customizations for Launch"
Desktop view is ok, but, please use custom code in the LiveChat admin to affect the mobile version of the LiveChat bar on STAGING. Some ideas we think can work are the following, but feel free to tweak these suggestions but better UX or come up with additional ones
• after page loads and chat bar hasn't been touched for a few seconds, shrink/squish/slide it down to appear shorter but so the user c

[2017-08-15 14:59] c21hornak commented on #96
@juanmriosv this is a request from Elisabeth to please use the LiveChat custom code areas to manipulate the mobile version of the LiveChat bar so there will not be any UX issues with it. Adena & I briefly discussed and had the above ideas, which are flexible, and Elisabeth will choose which she likes best.

[2017-08-15 15:47] juanmriosv commented on #96
@c21hornak

Is the team from Live chat able to customize if required?

[2017-08-15 15:53] c21hornak commented on #96
@juanmriosv I don't think they offer development services like that. You mean like if we don't have the time to do it?

[2017-08-15 16:02] AdenaG commented on #96
@juanmriosv in case you were looking for it, they have a field to input CSS here:
![screen shot 2017-08-15 at 12 01 09 pm](https://user-images.githubusercontent.com/20344050/29324282-8f2d46a4-81b1-11e7-9777-f10294346463.png)

[2017-08-15 16:06] juanmriosv commented on #96
@c21hornak,
No I meant for things that we are not able to do. It is limited what I can do via their admin.
Also,
What you are suggesting above is based on the first time a user visit the page or re-visits.
The experience is different.

[2017-08-15 16:17] c21hornak commented on #96
@juanmriosv ok understood. Do you think any manipulations might be possible with WebLinc admin or Justuno? I know neither extend their reach into the checkout, but LiveChat does, which i think would be a problem.

[2017-08-15 16:32] juanmriosv commented on #96
@c21hornak

I will test if any manipulations are visible to their iframe via the admin.
Seems that the ideas you describe above are for first time users.
Once, the user comes back, the experiences changes (to a bubble avatar).

Also, opening the chat right when the page loads seems intrusive for small screens (specially on mobile). As far as I know, the only way not to have the chat automatically

[2017-08-15 16:42] AdenaG commented on #96
@juanmriosv. Greeting messages and URL rules are 2 different things, but greeting messages can have additional rules set up with custom variables that may account for if a user is on mobile or desktop: https://www.livechatinc.com/kb/custom-variables-configuration/?utm_source=webapp&utm_medium=link&utm_campaign=webapp_knowledge_base

The bar and bubble avatars are set globally, but I was seeing tha

[2017-08-15 17:02] juanmriosv commented on #96
It does not seem to be that way @AdenaG.
I've just chatted with customer support from LiveChat and they stated this:
![screen shot 2017-08-15 at 1 00 20 pm](https://user-images.githubusercontent.com/16789090/29326496-baade1dc-81b9-11e7-8c41-92f5b6fae83d.png)
From her answer, there are two different experiences. Was this looked into?

Also, Greeting messages and URL rules are two different things;

[2017-08-15 17:06] AdenaG commented on #96
@juanmriosv this might be better to go over in person as chat bubble and avatar are different as well, but I think we are on the same page.

What do you mean by 'expand chat feature'? If we delete the greeting messages, there is no prompting customers to chat, all chat would have to be triggered by them, which is not what Elisabeth wanted.

[2017-08-15 17:10] juanmriosv commented on #96
@c21hornak @AdenaG
Where can I read about the requirements from Elisabeth?

[2017-08-15 17:15] AdenaG commented on #96
@juanmriosv
https://docs.google.com/spreadsheets/d/1V0KSSBiDXqXxY_B7s0DELt2yxn-0gFTYky7fivi4xRM/edit?usp=sharing

[2017-08-15 17:16] juanmriosv commented on #96
Thank you @AdenaG

This is more a guide of what you are doing and the feature / implementation.
Is there anything listing the requirements from Elisabeth about the chat "expanding on loading" of the chat window?

Also, Column "C" states different experience / messages based on pages visits and page URLs
is this final or still in progress?

[2017-08-15 18:45] juanmriosv commented on #96
@c21hornak
Let's go back a little bit.
What is it that we are trying to solve with this request?

[2017-08-16 17:28] juanmriosv opened #97 "Copy Blocks Round 6"
Next 4 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=598388150029416e84b8c20b98ccdeed&commentID=5993c2db0005660a566b0fabe03dc744&activeTab=tab-issue-updates)

- [x] Women's Shoes New Arrivals
- [x] Men's Belts
- [x] Handbags & Accessories Shop All
- [x] Handbags & Accessories Crossbodies

[2017-08-17 01:11] c21hornak opened #98 "CDF Issues Investigation & Manual Remediation"
Issues:
1. Kids and Women's Products
        These appear to be distributed across your different parent categories.
  KIDS (Product ID's that start with 3)
        Most of Kids product interaction appears to be under Content
  WOMEN'S (Product ID's that start with 2)
        Most Women's product interaction appears to be under Browsing

2. Fiscal vs. Custom Date Range
The total sales shown betwee

[2017-08-17 14:00] c21hornak opened #99 "Evaluate Viewbix Integration of Interactive Video"

[2017-08-17 14:56] c21hornak commented on #99
Project killed 💀

[2017-08-17 14:56] #99 closed, assigned to nobody

[2017-08-17 16:52] juanmriosv commented on #95
**Option 1:**
Progress:
- Auto scroll enable (either direction) . Timing can be adjusted
- Viewer events not conflicting with Page scroll event
- Zoom on double click to middle of viewer
- 360 Navigation Scrolling can be change to Natural or non-natural scrolling

[2017-08-17 16:57] juanmriosv commented on #95
**Option 2:**

- Sample image that works with Resolve tool:
![curalate 360 image 2](https://user-images.githubusercontent.com/16789090/29423918-969f0972-834b-11e7-9e64-ade9825f0b93.jpeg)

- Questions so far (have been sent) not reponse:

- [ ] Are we able to, keep the aspect ratio, and modify the width of the viewer to be greater than 1080px?
- [ ]  Is it possible to have different CTA values (“SH

[2017-08-17 16:57] juanmriosv commented on #95
**Option 3:** (canceled)

[2017-08-22 12:38] juanmriosv opened #100 "Copy Blocks Round 7"
Next 5 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=598899fa00474673dc28a2dae3f65028)

- [x] Women's Fragrances
- [x] Handbags & Accessories Wallets & Wristlets
- [x] Shoes Pumps
- [x] Men's Fragrance
- [x] Women's Totes

[2017-08-22 15:56] juanmriosv commented on #92
Setting up Second crawl with google analytics, Search Console, and sitemap integrations.
Possible date: Thursday 22nd

[2017-08-24 00:38] c21hornak opened #101 "Investigate Never Active Accounts with Winchell"

[2017-08-29 17:09] juanmriosv opened #102 "Mavkrc - incentives specs"
(Max characters)

## CONTEST

1. TITLE:  (50)
2. DESCRIPTION: (140)
3. IMAGE: 92x92 px
4. CONTEST METRICS. 3 options:
Clicks
Conversion
Engagements
5. Number of entries: max: 999999
6. NUMBER OF WINNER: max: 99999
7. APPROXIMATE REATIL VALUE: open
8. COST: open
9. TERMS & CONDITIONS. 3 options:
Link to a page
Upload PDF
Auto-Generate

## SWEEPSTAKES

1. TITLE:  (50)
2. DESCRIPTION: (140)
3. IMAGE:

[2017-09-06 19:01] AdenaG commented on #96
sorry for delay. @juanmriosv re your above comment, there aren't requirements from Elisabeth about the chat "expanding on loading" of the chat window because that is default functionality when we engage a customer in chat. She wanted to keep within the default functionality as much as possible without having to customize. These are the 'chat engagements' referred to in column C. They have changed

[2017-09-07 14:04] c21hornak opened #103 "Narvar Integration Exploration"

[2017-09-08 00:02] c21hornak opened #104 "Remove Remaining Friction from Promo Process"

[2017-09-08 01:26] c21hornak opened #105 "QA Process Update for ADS C21STATUS Credit Card Account Center (TTI: 5 minutes)"
From: "Hornak, Michael" <mhornak@c21stores.com>
Date: Tuesday, August 22, 2017 at 1:05 PM
To: "Goldis, Adena" <agoldis@c21stores.com>
Subject: QA Procedure: C21STATUS Credit Card Account Center

Updated per our TB. Please confirm once Daysi is up to speed with the updated process.
https://docs.google.com/spreadsheets/d/1btgK8elwRTWAzxJNS4q9mWFBQ8yGznsdlL0fW0lzxNY/edit#gid=970122334

Michael

![scr

[2017-09-08 02:08] c21hornak opened #106 "QA Process Update for Daily Channel Advisor Inbound Feed Check (TTI: 5 mins)"

[2017-09-15 21:10] c21hornak opened #107 "A Day in the Life Program"

[2017-09-18 16:52] juanmriosv commented on #95
**Going forward with Option 1**
collaboration between Us and IT

Moving to Design: https://github.com/Century21Stores/UXD/issues/13

[2017-09-21 13:29] juanmriosv opened #108 "Copy Blocks Round #8"
Next 5 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=599c3b42001dd27b5ecf84ded2ea042c)

- [x] Men's Tie
- [x] Home Luggages
- [x] Women Sweaters
- [x] Men's Slip
- [x] Women's H&A New Arrivals

[2017-09-26 16:31] AdenaG commented on #98
Discussion/To dos:
1. It makes sense why a number of kids categories, among other, appear under content. They are built under content navigation (as I recall they weren’t in the nav at certain points). When something doesn’t show in the standard browsing navigation, it lives in the content nav (screenshot attached).  Juan to address these potentially being moved back into browsing.

2. It makes se

[2017-09-27 20:52] juanmriosv opened #109 "Update the Corporate Email Signature with the New C21 Trademark"
Chuck initiated this request on 9/27/17

From: "Shahin, Ahmed" <ashahin@c21stores.com>
Date: Wednesday, September 27, 2017 at 1:51 PM
To: "Cipoletti, Kate" <kcipoletti@c21stores.com>, "Stevens, Chuck" <chstevens@c21stores.com>, "Rios, Juan Manuel" <jrios@c21stores.com>
Subject: Re: New Logo for signature.

Adding Juan.
Kate, please see below the specs for the new C21 logo. Also, let us know if you

[2017-10-02 14:20] AdenaG commented on #108
Looks good except a link issues callout out on Workfront ticket.

[2017-10-04 03:55] c21hornak commented on #96
@AdenaG I believe we can close this now, do you agree? I know Elisabeth wants some customization for how LiveChat currently looks on mobile, but I feel like that's a separate request from this.

[2017-10-04 15:17] AdenaG commented on #96
@c21hornak
We can open new ticket if you want. Both relate to customizing the view on Livechat mobile, but slightly different customizations.

[2017-10-11 20:02] juanmriosv opened #110 "Front-End Development for Family Holiday 2017 - 360º Shoppable Experience"
This is the front-end development work that goes with Noriel's development work on: [Shoppable 360º Experience for Holiday 2017 (INTERNAL-62)](https://c21stores.atlassian.net/browse/INTERNAL-62)

Based on [UX Design for Family Holiday 2017 - 360º Shoppable Experience (UXD-13)](https://github.com/Century21Stores/UXD/issues/13) and [Build a 360º Shoppable Experience Proof of Concept (SPECIAL-95)](ht

[2017-10-11 20:05] juanmriosv commented on #110
- [x] Library to use: Three.js

[2017-10-13 14:49] c21hornak opened #111 "Collaborate with Marketing, Creative, Ecommerce, and IT on Promo Process Optimizations"
Sonia & Anna called a meeting to discuss the process and some optimizations are being considered for the POS promo process and possibly also the Ecom Promo Process.

[2017-10-16 14:01] juanmriosv opened #112 "Videos Autoplay on Mobile"
Can we autoplay videos on mobile?

[2017-10-16 14:19] juanmriosv commented on #112
@**Yes with some limitations:**
[https://www.c21stores.com/pages/video](https://www.c21stores.com/pages/video)

**Compatibility found:**

OS/Browser | Supports autoplay
-- | --
iOS 9 Safari 601 | no
iOS 10 Safari 602 | yes (with muted + playsinline attributes)
iOS 9 Chrome 54 | no
iOS 10 Chrome 54 | yes (with muted + playsinline attributes)
iOS 9 Opera Mini 14 | no
iOS 10 Opera Mini 14 | yes (play

[2017-10-16 14:42] c21hornak opened #113 "Fine Jewelry Appointments via Brickwork"

[2017-10-16 15:39] juanmriosv commented on #112
  | Browser | Browser Version | Acquisition | Behavior | ConversionseCommerce
-- | -- | -- | -- | -- | --

  |   | 24,958,163% of Total: 100.00% (24,958,163) | 38.90%Avg for View: 38.77% (0.35%) | 9,708,717% of Total: 100.35% (9,675,302) | 37.11%Avg for View: 37.11% (0.00%) | 6.83Avg for View: 6.83 (0.00%) | 00:05:18Avg for View: 00:05:18 (0.00%) | 320,153% of Total: 100.00% (320,153) | $45,570,47

[2017-10-16 15:43] juanmriosv commented on #112
**[Browsers Version Analytics](https://docs.google.com/spreadsheets/d/1h-Geag_i4GJI9koK8FV0sFt-8lTiGi-dYZ5B8KlNHu8/edit?usp=sharing
)**

[2017-10-16 15:43] juanmriosv commented on #112
All yours @c21hornak

[2017-10-16 16:23] c21hornak commented on #112
@juanmriosv and this is for using custom code to do full bleed video in the first position on the home page?

[2017-10-16 17:06] juanmriosv commented on #112
@c21hornak yes, and the complexity will depend on what they want.
For example, if they do not want to see the loading background and they want to replace it with an image, then it adds complexity

[2017-10-16 17:40] juanmriosv opened #114 "Copy Blocks Round #9"
Next 5 Categories:

[Workfront Request](https://c21.my.workfront.com/issue/view?ID=59b92fd600e60603038b4d72035d814a)

- [x] Womens pants legging
- [x] Women Watches
- [x] Men Hoodies and Sweatshirts
- [x] LXR
- [ ] Womens shorts and Skirts

[2017-10-16 18:26] juanmriosv commented on #114
Waiting on question about "Women's Shorts and Skirts

[2017-10-18 23:02] c21hornak opened #115 "Choose & Migrate to a New Collaboration Tool for Web Production Projects"
In order to disuse GitHub as a project management tool, and instead use it only for managing Juan's team's development tasks, Ahmed is assigned to research & choose a new collaboration tool for all Web Production projects. As part of this project Ahmed will also pay for the feature and make all of our GitHub Issues private.

Upon onboarding the new tool:
• Primarily, Ahmed and Michael will begin u

[2017-10-19 14:49] juanmriosv opened #116 "Modify the Subject Dropdown Menu on the Contact Us Form"
Question 10/16 from Elisabeth: "How difficult is it to update the drop down on the contact us page?"

[2017-10-19 19:54] c21hornak opened #117 "QA Process for SMS Campaigns (TTI: 5 mins)"

[2017-10-24 11:15] c21hornak commented on #116
From: "Hornak, Michael" <mhornak@c21stores.com>
Date: Monday, October 16, 2017 at 11:25 PM
To: "Rios, Juan Manuel" <jrios@c21stores.com>
Subject: FW: How difficult is it to update the drop down on the contact us page?

Hi Juan,

If you add additional values to the dropdown on this page https://www.c21stores.com/contact will they also display in the email that gets sent to Guest Services?

If you w

[2017-10-24 11:16] c21hornak commented on #116
<img width="1160" alt="screen shot 2017-10-18 at 9 47 45 am" src="https://user-images.githubusercontent.com/19403001/31940179-35345ce4-b88b-11e7-9a48-fc213ad52767.png">

[2017-10-24 11:17] c21hornak commented on #116
From: "Rios, Juan Manuel" <jrios@c21stores.com>
Date: Wednesday, October 18, 2017 at 7:36 PM
To: "Hornak, Michael" <mhornak@c21stores.com>
Subject: Re: How difficult is it to update the drop down on the contact us page?

It is on weblinc end because most likely there is back-end work involved with this.
Since this is a form that connects to a database (most likely), I can update the front end, but

[2017-10-24 12:15] c21hornak commented on #116
![screen shot 2017-10-24 at 8 13 58 am](https://user-images.githubusercontent.com/19403001/31942516-81e66674-b893-11e7-956f-fdf2ec2b8047.png)

[2017-10-27 16:42] ashahinC21 commented on #115
@c21hornak @juanmriosv
-Update
So far, more than 15 task/project management tools have been reviewed, and currently doing final reviews with emphasizing on:
1) Unique ID or number search for all tasks and projects.
2) Integration with Zapier and other tools (Jira, Github, Google Suite, Outlook, etc.)
3) Collaboration features that could be essential for teamwork when/if we expand using this tool w

[2017-11-01 18:47] juanmriosv opened #118 "Navar Integration"
[Narvar - Tracking Recap .pdf](https://github.com/Century21Stores/SPECIAL/files/1435292/Narvar.-.Tracking.Recap.pdf)
[Narvar Tracking Integration- Aug.2017.pdf](https://github.com/Century21Stores/SPECIAL/files/1435293/Narvar.Tracking.Integration-.Aug.2017.pdf)

[2017-11-01 19:02] juanmriosv commented on #118
Verify URL formats are still correct

[2017-11-01 19:24] juanmriosv opened #119 "Tutorial #1"
#**Working in progress Outline**

**Hero Content Block** (Ahmed)

- Single CTA positioning
- Types of Header & subheaders
- Image clickable without CTA
- Multiple CTA
- Lightbox

**Two and Three Column content blocks** (Lydia)
- propose subject 1
- propose subject 2
- ...

**Email slicing** (Irving)

- propose subject 1
- propose subject 2
- ....

**Other** (Juan)

- CTA character count
- Mobile

[2017-11-02 05:50] c21hornak opened #120 "Branding Effort for Century 21 in 2017/2018"

[2017-11-02 06:01] c21hornak opened #121 "BloomReach Organic Search & Thematic Pages Implementation"
This is also SharePoint project # WEB2597

Subtasks/Sub-Projects Opened to Complete this EPIC:
• Add another scheduled Channel Advisor feed (C21-95)
• Title Tags on BloomReach Thematic Pages (CENTURYROR-943)
• Investigate BloomReach Outbound Feed Drop in Items Sent on 5/20/16 & 5/21/16 (DGTLMKTG-9)
• BloomReach Thematic Matching Issues (SPECIAL-123)
• BloomReach Widget Image not Displaying (C21-12

[2017-11-02 06:08] c21hornak opened #122 "Complete Full Implementation of Rules-Driven Product Placement on ROR"
Includes Subtasks/Sub-Projects:
• RDPP Phase 2 (C21-77)

[2017-11-02 06:18] c21hornak opened #123 "BloomReach Thematic Matching Issues"

[2017-11-02 06:19] c21hornak opened #124 "BloomReach Widget Image not Displaying"
Fixed itself.

[2017-11-02 06:25] c21hornak opened #125 "Evaluate a WebLinc Platform Upgrade to Either v2.x or v3.x"

[2017-11-02 06:46] c21hornak opened #126 "Must Display MAP Pricing for Select Items Everywhere but Cart/Checkout"

[2017-11-02 14:29] juanmriosv opened #127 "Open Graph"
**Description:**

The ability to manipulate the image, description, title and other arguments when the link of a page is shared on social media (specifically on Facebook and Twitter) This technology was created by facebook

Currently, Weblinc has a default meta attributes for Open Graph. For example: the logo image is a default attribute for the **og:image**  attribute.

**Current Issue:**

A coup

[2017-11-02 15:05] juanmriosv commented on #127
**Placement:**

The OG meta tags are placed on the <head> of a page. This allows for the information to be available before the <body> of the page is drawn

[2017-11-02 15:10] juanmriosv commented on #127
**Importance and why using OG:**

Promotes integration between facebook and other websites; this way, a some degree of control if possible over how information travel from a website to Facebook, and some other social media accounts.

Since social media are now drivers of considerable traffic to the website; then, the tags can influence the performance of links on social media. However, It will not

[2017-11-02 15:11] juanmriosv commented on #127
**Most common tags:**

- og:image
- og:title
- og:site-name*
- og:description

![facebook-tags1](https://user-images.githubusercontent.com/16789090/32333543-9c7e0654-bfbe-11e7-9851-653a4c60bb5d.jpg)

[2017-11-02 15:15] juanmriosv commented on #127
**Future:**

Being able to either:

- Dynamically have OG meta tags to pull personalized info from each page, or
- Being able to have those main OG fields administrable

[2017-11-03 16:17] juanmriosv commented on #116
@c21hornak There is ways to build out own contact form

[2017-11-03 16:20] ashahinC21 commented on #115
@c21hornak @juanmriosv

Wrike is an easy final winner, and here is a list for some of the main advantages that should make it a great choice for our team. We can discuss further in person.

**Simplified Search.** We can search for any task or project by a unique ID/number. In addition to other search criteria.
**Powerful yet simple user interface.**
**Customize workflow.** We can add and remove an

[2017-11-06 17:08] c21hornak commented on #116
@juanmriosv do you know approximately the level of effort? Will we need any help from IT?

[2017-11-06 21:40] juanmriosv commented on #116
@c21hornak, it should be low to medium since we are not modifying the database table but adding or removing options from one of the columns "subject."
I believe this is, directly, a work for c21. (It would not be involve)

[2017-11-07 15:37] c21hornak commented on #98
@juanmriosv can you please add this to your priority list?

[2017-11-07 19:34] juanmriosv opened #128 "Rebuild Justuno Script that Suppresses {Fulfillment ID} in Cart and Checkout"
Being able to have the name:

**In admin:**
$20 of $200 {some message}

**In store Front:**
$20 of $200

[2017-11-07 19:35] juanmriosv commented on #128
There is a known issue, unable to test on staging

[2017-11-15 17:48] c21hornak opened #129 "WebLinc v1.35.0 Deployment & Regression Testing"
Deploy Date: Tuesday, 11/7/17

C21-520 — Smoke Test v 1.35.0
C21-519 — Deploy v 1.35.0
C21-492 — [Development] Buy Some Get Some % off - Highest vs. Lowest
C21-491 — [Development] Buy Some Get Some across multiple products
C21-489 — Update Sidekiq Jobs
C21-287 — Allow up to 4 Promo Codes to be Applied to a Bag

[2017-11-15 17:48] c21hornak opened #130 "WebLinc v1.36.0 Deployment & Regression Testing"

[2017-11-17 16:00] c21hornak opened #131 "Investigate if Guests Are Getting Free Express Shipping"

[2017-11-17 16:01] c21hornak commented on #131
@AdenaG you sort of helped with this.

[2017-11-17 18:33] c21hornak opened #132 "Re-Suppress Express Shipping Options 11/17 thru 11/27"
From: "McDaniels, Elisabeth" <emcdaniels@c21stores.com>
Date: Friday, November 17, 2017 at 11:23 AM
To: "Hornak, Michael" <mhornak@c21stores.com>
Cc: "Gindi, Sonny" <sgindi@c21stores.com>, "Baroody, Megan" <mbaroody@c21stores.com>, "Mennella, Andrea" <amennella@c21stores.com>, "Canales, Katy" <kcanales@c21stores.com>, "Ovadia, Jose" <jovadia@c21stores.com>
Subject: Expedited shipping options

Can

[2017-11-17 18:36] c21hornak commented on #132
From: "Hornak, Michael" <mhornak@c21stores.com>
Date: Friday, November 17, 2017 at 11:41 AM
To: Juan Rios <jrios@c21stores.com>, "Goldis, Adena" <agoldis@c21stores.com>
Subject: Re: Expedited shipping options

Yes, shopping cart and checkout please. The intent when suppressing the expedited shipping options is to prevent guests from placing orders with expedited shipping because the warehouse can’

[2017-11-17 18:38] c21hornak commented on #132
From: "Goldis, Adena" <agoldis@c21stores.com>
Date: Friday, November 17, 2017 at 1:34 PM
To: "Hornak, Michael" <mhornak@c21stores.com>, "Rios, Juan Manuel" <jrios@c21stores.com>
Subject: Re: Expedited shipping options

On Firefox mobile (Android v.57), I am able to select expedited shipping from the cart and shipping in checkout. Secondary to that, Im seeing the ‘you can add up to 4 promo codes’ m

[2017-11-17 18:47] juanmriosv commented on #132
Known limitation on Firefox (justuno)

[2017-11-17 19:58] c21hornak opened #133 "Investigate Orders Placed But Never Processed"

[2017-11-17 21:13] c21hornak opened #134 "Enhance the Promo Viewer Google Doc for Combinable Settings"

[2017-11-20 16:31] AdenaG commented on #132
qa complete 11/17

[2017-11-27 20:23] AdenaG commented on #128
Daysi - Passed in staging and prod a while back.
Now it is appearing again in prod for item level promos only.  Juan worked on it this morning and we will validate tomorrow once the cyber monday promo ends.

[2017-11-28 02:36] c21hornak opened #135 "Gameplan a Resolution for an Inadvertently Missed CDF"

[2017-11-28 16:42] juanmriosv opened #136 "Guest Service Orders Error Survey Google Doc v1.0"
**Requestor:** @c21hornak , Katy Canales

**History:** Currently, customer service has an existing survey, in physical paper form, that it is filled by agents.

**Issue:**  There is not easy way to communicate the results of this survey to Web Production.

[2017-11-28 19:58] juanmriosv commented on #136
**Form:**
https://docs.google.com/forms/d/e/1FAIpQLSfEKH9VUIZU_HRbFU3jRpLcro3Lu9ao1hOa4A8HEOdEAyM0nA/viewform

[2017-11-28 20:28] c21hornak commented on #136
Let's call whatever we deliver today v1.0 (internally, so we can keep track of every time we do work to modify the survey)

[2017-11-30 18:42] c21hornak opened #137 "Automated Product QA by Inspecting the Visual Layer"

[2017-11-30 18:43] c21hornak opened #138 "Ecom Promo Doc Dashboard for Guest Service"

[2017-11-30 20:50] c21hornak commented on #96
Closing.

[2017-11-30 20:50] #96 closed, assigned to nobody

[2017-11-30 21:09] c21hornak opened #139 "Make the LiveChat Bar on Mobile Less Prominent"
The UXD for this project is being done on https://www.wrike.com/open.htm?id=188623798

[2017-11-30 21:49] c21hornak opened #140 "Migrate the Ecom Promo Process to Wrike"

[2017-11-30 21:57] c21hornak opened #141 "Implement New 11/20/17 Product QA SOP"

[2017-11-30 22:33] c21hornak opened #142 "Initial Investigation Into v1.0 Orders Errors Surveys Submitted"

[2017-12-04 08:47] c21hornak opened #143 "Guest Service Orders Error Survey Google Doc v2.0"

[2017-12-04 09:47] c21hornak opened #144 "Send a Sample JD.com Feed to VoyageOne"
Michael to acquire/generate/create an acceptable sample feed for use in a future JD.com partnership.

[2017-12-04 13:34] juanmriosv commented on #136
@c21hornak sounds good.

[2017-12-06 13:59] juanmriosv commented on #114
Moved to Wrike
https://www.wrike.com/workspace.htm#path=mywork&t=195393151

[2017-12-21 00:21] c21hornak commented on #25
From: Uptime Robot <info@uptimerobot.com>
Date: Wednesday, April 26, 2017 at 12:24 PM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Uptime Robot - Account Activation

Hi,

Thanks for registering Uptime Robot, the free website monitoring service.

In order to start monitoring your websites, please activate your account by clicking here.

Cheers From Uptime Robot,

http://www.uptimerobot.com/

[2017-12-21 00:22] c21hornak commented on #25
From: <support=site24x7.com@mailer.zconfirmation.com> on behalf of "support@site24x7.com" <support@site24x7.com>
Reply-To: "support@site24x7.com" <support@site24x7.com>
Date: Wednesday, April 26, 2017 at 2:25 PM
To: Michael Hornak <mhornak@c21stores.com>
Subject: Site24x7 Account Confirmation

Site24x7
Hello mhornak,

Thanks for choosing Site24x7. You have made a wise decision trusting your monito

[2017-12-28 14:19] c21hornak commented on #13
@juanmriosv I think I forgot about this back in May... Can this Justuno code please be added back to STAGING with the condition that it displays when the subtotal is $500 or greater?

![signature-required-500](https://user-images.githubusercontent.com/19403001/34413227-f9386282-ebaf-11e7-96b6-7e98b1198f05.png)

[2017-12-28 15:55] ashahinC21 commented on #13
Closing this issue - moving to Wrike.

[2017-12-28 15:55] #13 closed, assigned to juanmriosv, ashahinC21

[2018-01-02 17:11] c21hornak commented on #128
Note: "Rebuild" because we had this once before but decided to stop using it because it was making Fulfillment IDs temporarily visible on the storefront (short Justuno delay). But since the deployment of C21-287, this feature became necessary even though the short Justuno delay still exists.

[2018-01-02 17:24] c21hornak commented on #134
https://docs.google.com/spreadsheets/d/16vq_pBJZ8A9vIZWuKW2T6JGm-Jfg3CWNUyqq5s2qcRk/edit#gid=1791420431

[2018-01-02 17:58] c21hornak commented on #130
Closing and moving to [WRIKE-200502756](https://www.wrike.com/open.htm?id=200502756)

[2018-01-02 17:58] #130 closed, assigned to nobody

[2018-02-07 11:44] c21hornak commented on #16
@juanmriosv this might need to be pushed to PROD again - can you check pls?

[2018-02-23 08:36] #136 closed, assigned to nobody

[2018-02-23 08:41] c21hornak commented on #144
Completed Monday 12/18/17. Closing.

[2018-02-23 08:41] #144 closed, assigned to nobody

[2018-02-23 17:40] #2 closed, assigned to juanmriosv

[2018-02-23 17:40] #73 closed, assigned to nobody